<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton">
      <h1>filmes</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="alignCenter">
    <div class="InternaFilme">
      <h1>{{Filme.nome.str.lang_1}}</h1>

      <div class="BaseFilme">
        <div class="Cartaz">
          <img src="{{Filme.midia.arquivos.lang_1.arquivo.url}}" alt="" style="width: 100%;">
        </div>

        <div class="InfoFilme">
          <p><strong>Titulo Original:</strong><br> {{Filme.nome.str.lang_1}}</p>
          <p><strong>Duração:</strong> {{Filme.tempo}} min</p>
          <p><strong>Gênero:</strong> {{Filme.genero.str.lang_1}}</p>
          <p><strong>Direção:</strong> {{Filme.diretor.str.lang_1}}</p>
          <p><strong>Elenco:</strong> {{Filme.elenco.str.lang_1}}</p>


          <div class="icons">
          <button ion-button class="likecinema">
            <img src="assets/icon/iconLikeFilmes.png" (click)="likeVote()" [hidden]="vota" alt="">
            <img src="assets/icon/iconLikeFilmes_ativ.png"  (click)="likeVote()" *ngIf="vota" alt="">
          </button>
          <button ion-button (click)="Compartilhar()">
            <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
          </button>

          </div>
        </div>
      </div>


      <div class="SectionHorarios">
        <h1>Sessões:</h1>

        <div class="listHorarios">
          <div class="itemhorario" *ngFor="let l of listHorarios">
            <p class="nomesala">{{l.sala}}</p>
            <ng-container *ngFor="let h of l.horario">
              <div class="boxall" *ngIf="h.dias == dtHoje">
                <div class="boxHorario" *ngFor="let c of h.hora">{{c}} <span *ngIf="h.dublado==true">DUB</span> <span *ngIf="h.dublado==false">LEG</span> {{h.tecnologia}}</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="SectionHorarios sinopsearea">
        <h1>Sinopse:</h1>
        <p [innerHTML]="Filme.descricao.str.lang_1"></p>

        <div class="buttonIngresso" *ngIf="TemIngresso" (click)="LinkIngresso()">
          <img src="assets/icon/icoIngressoW.png" alt="">
          <span>Comprar ingresso</span>
        </div>
      </div>
    </div>
  </div>
    <div class="AreaCinemaHome">
      <div class="headerTitle">
        <div class="alignCenter flex">
          <div class="camptitledesc">
            <p class="title">
              Programação
            </p>
            <p class="descT">Confira outros filmes em cartaz</p>
          </div>
          <div class="buttonVerM" (click)="IrParaFilmes()">ver mais</div>
        </div>
      </div>
      <swiper [config]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let f of Cartazeslist" (click)="IrParaInternaDeOutroFilme($event, f)">
              <img src="{{f.midia.arquivos.lang_1.arquivo.url}}">
          </div>
        </div>
      </swiper>
    </div>
</ion-content>

<app-footer></app-footer>