page-filmes-interna {
   
    .InternaFilme {
        margin: 5% 0 10%;
        height: 100%;
    }
    .InternaFilme h1 {
        font-family: 'Rubik';
        font-size: 18px;
        color: $ColorTituloInterna;
        // margin: 8% 0
    }

    .BaseFilme{
        width: 100%;
        display: flex;
        margin-bottom: 5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Cartaz{
        width: 95%;
    }
    .Cartaz img{
        width: 100%;
        border-radius: 5px;
    }
    .InfoFilme{
        width: 85%;
        display: flex;
        height: 100%;
        margin-left: 5%;
        align-items: flex-start;
        flex-direction: column;
    }
    .InfoFilme p {
        font-family: 'Rubik';
        font-size: 15px;
        font-weight: 400;
        color: #333333;
        margin: 1% 0 2%;
    }
    .InfoFilme p strong{
        font-weight: 500;
    }

    .InfoFilme .icons{
        width: 55%;
        justify-content: flex-start;
        display: flex;
        margin: 4% 0 0;
        align-items: flex-start;
        flex-direction: row;
    }
    .InfoFilme .icons button {
        background: transparent;
        border: 0;
        box-shadow: inherit;
        overflow: inherit;
        padding: 0;
        height: inherit;
    }
    .InfoFilme .icons button:nth-child(1){
        
    margin-right: -12%;
    margin-left: -5%
    }
    .InfoFilme .icons button img{
        width: 80%;
    }
    .SectionHorarios{
    }
    .SectionHorarios h1{
        font-family: 'Rubik';
        font-size: 18px;
        color: #00417f;
    }
    .listHorarios{
        width: 100%;
    }
    .itemhorario {
        width: 100%;
    }
    .itemhorario .nomesala{
        font-family: 'Rubik';
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #333333;
    }
    .boxall{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

    }
    .itemhorario .boxHorario{
        padding: 3%;
        background: $colorButtons;
        color: #fff;
        font-weight: 400;
        // width: 19%;
        font-family: 'Rubik';
        font-size: 14px;
        text-align: center;
        margin: 0 3% 3% 0;
        border-radius: 8px;
    }
    .sinopsearea{
        margin: 5% 0 0;
        font-family: 'Rubik';
        font-size: 15px;
        font-weight: 400;
        color: #333333;
    }
    .sinopsearea p {
        margin: 0
    }
    .AreaCinemaHome{
        margin: -2% 0 0;
        padding-bottom: 5%;
    }
    .headerTitle{
        width: 100%;
        padding: 4px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }.camptitledesc{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }.camptitledesc .title{
        font-family: 'Rubik';
        font-size: 19px;
        margin-bottom: 0;
        font-weight: 500;
        color: #443a53
    }.camptitledesc .descT {
        font-family: 'Rubik';
        font-size: 14px;
        font-weight: 500;
        color: #616161;
        margin-top: 3px;
    }.buttonVerM{
        background: $colorButtons;
        color: #fff;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        border-radius: 18px;
        padding: 2% 6%;
        width: 31%;
        text-align: center
    }
    .SliderFilmes{
        height: inherit;
    }.SliderFilmes .swiper-slide{
        width: 130px !important;
        margin-right: 0px;
        margin-left: 5%;
    }.SliderFilmes .swiper-slide img {
        border-radius: 5px
    }.SliderFilmes .swiper-pagination{
        display: none
    }
.likecinema img{
    // width: 82% !important
}
.buttonIngresso{
    width: 100%;
    margin: 10% auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00417f;
    border-radius: 5px;
    height: 46px;
    
    }
    .buttonIngresso span{
        font-family: 'Rubik';
        font-size: 1em; 
        color: #fff;
    }
    .buttonIngresso img{
        margin: 0 10px 0 0;
        width: 6%;
    }
  swiper {
        margin-left: 4%;
    }
    .swiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 80%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img{
        border-radius: 5px;
        width: 100%
    }

    .ItFotter.AtivaCinema p{
        color: #363636 !important;
        font-weight: bold;
    }
    #Cinema{
        display: none;
    }
    #CinemaActive{
        display: inline-block
    }
}
