<ion-content class="BoxFiquePorDentro" >
  
  <div *ngIf="item">
    <div class="image-shopping">
      <img src="{{Dominio}}/{{item[0].midia.arquivos.lang_1.imagem.url}}" />
    </div>
    <div class="container">
      <div class="info-shopping">
        <div class="nome" [innerHTML]="item[0].titulo.str.lang_1"></div>
        <div class="content-shopping clearfix">
          <div [innerHTML]="item[0].link_texto" class="texto-shopping"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>