<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
      <img src="assets/icon/icoMenu.png" alt="">
    </button>
    <ion-title class="titleButton"> 
      <h1>login</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="subHeader">
    <p class="Title">Entrar</p>
    <p class="Chamada">Efetue seu login com os dados abaixo:</p>
  </div>
  <div class="FormLogin">
    <ion-item class="nopaddingLeft">
      <input class="input" [(ngModel)]="form.Email" placeholder="Seu e-mail" type="email" >
      <!-- <ion-input class="input" [(ngModel)]="form.Email" placeholder="Seu e-mail" type="email" ></ion-input> -->
    </ion-item>
    <ion-item class="nopaddingLeft">
      <input class="input" [(ngModel)]="form.Senha" placeholder="Sua senha" type="password">
     
    </ion-item>

    <button ion-button class="buttonEnviar" (click)="logar()">Entrar</button>
  </div>

  <p class="ouEsqueciMinhaSenha" [navPush]="EsquecisenhaPage">ESQUECI MINHA SENHA</p>

  <button ion-button class="ButtonloginfB" (click)="LogarFb()">
    <img src="assets/icofb.png" alt="">
    login com facebook</button>
  <button ion-button class="ButtonCadastrese" [navPush]="CadastrePage">cadastre-se</button>
  
</ion-content>

<app-footer></app-footer>