page-login {
  .scroll-content {
    padding-bottom:0!important;
  }
  .FormLogin{
    margin: 0;
    padding: 0 0 0 0;
  }
  .FormLogin .input{
    border: 0;
    font-weight: 500;
    font-family: 'Rubik';
    font-size: 15px;
    color: #616161;
    padding: 1% 5% 0 5%;
    height: 51px;
    width: 100%;
    margin-bottom: 2%;
    background: #f3f3f3;
    border-radius: 5px;
  }
  .item-inner{
    padding: 0;
  }.item-md.item-block .item-inner{
    padding: 0;
  }
  .FormLogin .buttonEnviar{
      width: 100%;
      height: 51px;
      background: $colorButtons;
      border-radius: 5px; 
      margin-bottom: 5%;
      font-family: 'Rubik';
      font-size: 15px;
      color: #fff;
      text-align: center;
  }.ouEsqueciMinhaSenha{
    margin: 1% auto 10%;
      font-family: 'Rubik';
      font-size: 1.1em;
      color: $colorButtons;
      text-align: center;
  }
  .ButtonloginfB{
    width: 100%;
    height: 51px;
    background: #4267b2;
    border-radius: 5px; 
    margin-bottom: 5%;
    font-family: 'Rubik';
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .ButtonCadastrese{
    width: 100%;
    height: 51px;
    background: $colorButtons;
    border-radius: 5px; 
    margin-bottom: 5%;
    font-family: 'Rubik';
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .ButtonloginfB img{
    width: 10%;
    margin: 0% 2% 0% 0%;
  }
   .FormLogin .input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #616161;
}
 .FormLogin .input ::-moz-placeholder { /* Firefox 19+ */
  color: #616161;
}
 .FormLogin .input :-ms-input-placeholder { /* IE 10+ */
  color: #616161;
}
 .FormLogin .input :-moz-placeholder { /* Firefox 18- */
  color: #616161;
}
}
