<ion-header class="BarHeader">
    <ion-navbar class="Nobackground">
      <ion-title class="titleButton">
        <h1>cadastro</h1>
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content >
    <div class="alignCenter"  [hidden]="Sucesso">
        <div class="subHeader">
            <p class="Title">{{campanha[0].Titulo}}</p>
            <p class="Chamada">Preencha os dados abaixo para se cadastrar.</p>
          </div>
      <div class="InternPadrao">
        <form class="FormCadastre">
            <ion-item class="nopaddingLeft" *ngIf="campanha[0].HabilitarNome==1 || campanha[0].HabilitarNome==2">
              <input class="input" placeholder="{{campanha[0].HabilitarNome==2 ? '*Nome': 'Nome' }}" [(ngModel)]="form.Nome" name="Nome" type="text">
            </ion-item>
            <ion-item class="nopaddingLeft" *ngIf="campanha[0].HabilitarEmail==1 || campanha[0].HabilitarEmail==2">
              <input class="input" placeholder="{{campanha[0].HabilitarEmail==2 ? '*E-mail': 'E-mail' }}"  [(ngModel)]="form.Email" name="Email" type="text">
            </ion-item>
            <ion-item class="nopaddingLeft" *ngIf="campanha[0].HabilitarDataNascimento==1 || campanha[0].HabilitarDataNascimento==2">
              <input class="input" placeholder="{{campanha[0].HabilitarDataNascimento==2 ? '*Data de Nascimento': 'Data de Nascimento' }}" [textMask]="{mask: maskdate}" name="DataNascimento" type="text" [(ngModel)]="form.DataNascimento" >
            </ion-item>
            <ion-item class="nopaddingLeft" *ngIf="campanha[0].HabilitarTelefone==1 || campanha[0].HabilitarTelefone==2">
              <input class="input" placeholder="{{campanha[0].HabilitarTelefone==2 ? '*Telefone': 'Telefone' }}"  [(ngModel)]="form.Telefone" [textMask]="{mask: masktel}" name="Telefone" type="tel">
            </ion-item>
            <ion-item class="nopaddingLeft" *ngIf="campanha[0].HabilitarCelular==1 || campanha[0].HabilitarCelular==2">
              <input class="input" placeholder="{{campanha[0].HabilitarCelular==2 ? '*Celular': 'Celular' }}"  [(ngModel)]="form.Celular" name="Celular"  [textMask]="{mask: maskcel}" type="tel">
            </ion-item>
            <ion-item class="nopaddingLeft" *ngIf="campanha[0].HabilitarCPF==1 || campanha[0].HabilitarCPF==2">
              <input class="input" placeholder="{{campanha[0].HabilitarCPF==2 ? '*CPF': 'CPF' }}"  [(ngModel)]="form.CPF" name="CPF" [textMask]="{mask: maskcpfnovo}" type="tel">
            </ion-item>
            <ion-item class="nopaddingLeft" *ngIf="campanha[0].HabilitarRG==1 || campanha[0].HabilitarRG==2">
              <input class="input" placeholder="{{campanha[0].HabilitarRG==2 ? '*RG': 'RG' }}"  [(ngModel)]="form.RG" name="RG" type="tel">
            </ion-item>              
            <div *ngIf="campanha[0].HabilitarArquivo==1 || campanha[0].HabilitarArquivo==2" class="fileUpload">
                <span>Escolher arquivo</span>
                <input type="file" id="arquivo" name="nomeArquivo" value="OK" class="upload" (change)="changeFile($event)"/>
              <p *ngIf="form.nomeArquivo">{{ form.nomeArquivo }}</p>
                <p [hidden]="form.nomeArquivo">Nenhum arquivo</p> 
            </div>
            <ion-item class="nopaddingLeft" *ngIf="campanha[0].HabilitarTexto==1 || campanha[0].HabilitarTexto==2">
              <input class="input" placeholder="{{campanha[0].HabilitarTexto==2 ? '*Descrição': 'Descrição' }}" name="RG" 
              [(ngModel)]="form.Texto" type="tel">
            </ion-item>  
            <button ion-button class="buttonEnviar" (click)="enviar()">Cadastrar</button>
        </form>
      </div>
  </div>
  <div class="MsgOk"  *ngIf="Sucesso">
    <div class="alignCenter">
      <img src="assets/imgOk.png" class="imgOk" alt="">
      <p class="DescMsg">Cadastro realizado com sucesso!</p>
      <button class="ButtonVoltarHome" (click)="irParaHome()">VOLTAR PARA A HOME</button>
    </div>
  </div>
<!-- 
  <div class="alignCenter" *ngIf="Token==undefined">
      <p class="semConexao">Você precisa estar logado para acessar essa área.</p>
      <button class="buttonIrparalogin" (click)="irParaLogin()" >
        Ir para Login
      </button>
    </div> -->
</ion-content>

<app-footer></app-footer>