page-campanha-cadastro {
    .scroll-content{
        margin-top: 80px!important;
        margin-bottom: 65px;
        
    }
    .InternPadrao {
        font-family: 'Rubik';
    }
    .InternPadrao p {
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        line-height: 1.2em;
    }
    .InternPadrao .title{
        font-weight: 500;
        color: $ColorTituloInterna;
        font-size: 19px;
        line-height: 1.2em;
    } .InternPadrao .data{
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        color: $colorPadrao;
    }
    .InternPadrao img{
        width: 100%;
    } .titulolazer img {
        width: 95%;
        display: table-cell;
        padding: 30% 0;
    }
    .titulolazer {
        display: table;
        width: 100%;
    }.titulolazer h1 {
        font-size: 18px;
        color: #443a53;
        font-family: 'Rubik';
        width: 89%;
        display: table-cell;
        padding: 5px 10% 0 0;
        vertical-align: middle;
    }.titulolazer img {
        width: 100%;
        display: table-cell;
        padding: 30% 0;
    } .FormCadastre{
        margin: 6% 0 0;
        padding: 0 0 0 0;
      }
      .FormCadastre .input{
        border: 0;
        width: 100%;
        font-weight: 500;
        font-family: 'Rubik';
        font-size: 15px;
        color: #616161;
        padding: 1% 5% 0 5%;
        height: 51px;
        margin-bottom: 2%;
        background: #f3f3f3;
        border-radius: 5px;
      }
      
  .FormCadastre .select{
    padding: 1% 5% 0
  }
  .text-input-md{
    margin: 13px 0
  }
  .select-md .select-placeholder{
    margin: 13px 0;
  }.select-md .select-icon{
    margin: 13px 0
  }
  .select-text{
    margin: 13px 0
  }
      .FormCadastre .buttonEnviar{
          width: 97%;
          height: 51px;
          background: $colorButtons;
          border-radius: 5px; 
          margin-bottom: 5%;
          margin-top: 5%;
          font-family: 'Rubik';
          font-size: 15px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
      }
      .FormCadastre .input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #7c7c7c;
      }
       .FormCadastre .input ::-moz-placeholder { /* Firefox 19+ */
        color: #7c7c7c;
      }
       .FormCadastre .input :-ms-input-placeholder { /* IE 10+ */
        color: #7c7c7c;
      }
       .FormCadastre .input :-moz-placeholder { /* Firefox 18- */
        color: #7c7c7c;
      }
    
      .select-md .select-placeholder{ /* Chrome/Opera/Safari */
        color: #7c7c7c;
      }
    //  .FormCadastre .input.ng-valid{
    //     background-color: #f2ffde!important;
    //   }
      .MsgOk{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }
        .imgOk{
          width: 25%;
          margin: 0 auto 5%;
          display: block
        }.DescMsg{
          font-family: 'Rubik';
          font-size: 19px;
          font-weight: 500;
          color: #000;          
          text-align: center;
        } .ButtonVoltarHome{
          width: 97%;
          height: 59px;
          background: #82131d;
          border-radius: 5px; 
          margin-bottom: 5%;
          font-family: 'Rubik';
          font-size: 15px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
        }
      .fileUpload {
          position: relative;
          overflow: hidden;
          width: 100%;
          /* padding: 4px 8px; */
          display: flex;
          align-items: center;
          justify-content: left;
          margin-top: 2%;
          margin-bottom: 3%;
          font-size: 1.1em;
          background-color: #f3f3f3;
      }
      .fileUpload span {
        font-size: 1em;
        color: #fff;
        background-color: #333;
        padding: 4% 5%;}

       .fileUpload input.upload {
          position: absolute;
          opacity: 0;
          filter: alpha(opacity=0);
      }
      input[type=file] {
          line-height: 34px;
      }
       .fileUpload p {
        font-size: 1em;
        color: #666;
        padding: 0% 5%;
    }
    
      }

