page-favoritos {
    .HomeFique{
        width: 100%;
        background: #ededed;
        margin-bottom: 5%;
        border-radius: 5px;
        display: block;
        position: relative;
        z-index: 100
    }
    .HomeFique .areaflexHomeFique{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        position: relative;
        z-index: 100;
        width: 100%;
    }
    .HomeFique .areaflexHomeFique .Areaimg{
        width: 16%;
        border-radius: 5px;
        min-width: 85px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }.HomeFique .areaflexHomeFique .Areaimg img{
        margin: 0px auto;
        width: 30%;
    }
    .HomeFique .areaflexHomeFique .Desc{
        padding: 4% 4% 4% 0;
        overflow: hidden;
        width: 65%;
    }
    .HomeFique .areaflexHomeFique .Desc .Tit{
        font-family: 'Rubik';
        font-weight: 500;
        margin: 0 0 5px;
        font-size: 17px;
        color: $colorTitleInternaServico;
    }.HomeFique .areaflexHomeFique .Desc .txt{
        font-family: 'Rubik';
        font-weight: 400;
        color: #646464;
        margin: 0;
        font-size: 14px;
    }
    .BoxFiquePorDentro .scroll-content{
        margin-bottom: 65px ;
        margin-top: 65px!important;
        // overflow: hidden
    }
    .iconeimg{
        width: 35%;
        margin: 15% 0 3%;
    }
    .AindaNaoFavorito{
        font-family: 'Rubik';
        color: $ColorTituloInterna;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 1
    }
}
