<ion-header class="BarHeader">
    <ion-navbar class="Nobackground">
      <button ion-button menuToggle class="buttonmenu">
          <img src="assets/icon/icoMenu.png" alt="">
        </button>
      <ion-title class="titleButton">
        <h1>Favoritos</h1>
      </ion-title>
    </ion-navbar>
  </ion-header>
  

<ion-content class="BoxFiquePorDentro">
  <div class="alignCenter">
    <div class="subHeader">
      <p class="Title">Conteúdo Salvo</p>
      <p class="Chamada">Confira seus conteúdos favoritados</p>
      
    </div>
    <div class="HomeFique" *ngFor="let f of favorites" (click)="openFavorite(f)">
      <div class="areaflexHomeFique">
        <div class="Areaimg">
          <img src="assets/icon/icohearth.png">
        </div>
        <div class="Desc">
          <p class="Tit" [innerHTML]="f.areaLike"></p>
          <p class="txt">{{ f.nome.str.lang_1}}</p>
        </div>
      </div>
    </div>
    <div class="semConexao" *ngIf="(favorites).length==0||favorites.length==0">
      <img src="assets/iconSmile.png" class="iconeimg" alt="">
        <p class="AindaNaoFavorito">Você ainda não favoritou</p>
        <p>Marque os conteúdos que mais gostar como favorito e acesse de forma rápida nessa área.</p>
     </div>
  </div>
</ion-content>

<app-footer></app-footer>