<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
        <img src="assets/icon/icoMenu.png" alt="">
      </button>
    <ion-title class="titleButton">
      <h1>busca</h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="alignCenter">
  <p class="semConexao" style=" text-align: left; margin: 8% 0 3%;" [hidden]="nadaEncontrado">Busca por "{{txtValue}}"</p>
  <div class="BoxFiquePorDentro" >
      <div class="HomeFique" *ngFor="let loja of stores" (click)="openDetails(loja)">
        <div class="areaflexHomeFique">
          <div class="Desc">
            <p class="txt">{{loja.categoria}}</p>
            <p class="Tit">{{loja.nome.str.lang_1}}</p>
          </div>
      </div>
      
    </div>
    <div class="semConexao" style="margin: 8% auto 3%" *ngIf="nadaEncontrado">
        <p>Nenhum resultado encontrado!</p>
      </div>
  </div>
</div>
</ion-content>
<app-footer></app-footer>