page-busca {
    .bar-subheader {
        border-bottom: 2px solid #ccc;
        display: table!important;
    }
    
    .noPadding {
        padding: 0!important;
    }
    .bar-subheader {
        top: 60px;
        height: 60px;
    }
    .barVitrine {
        border: none;
        background-image: linear-gradient(0deg,#ddd,#ddd 50%,transparent 50%);
        background-position: bottom;
        background-size: 100% 1px;
        background-repeat: no-repeat;
    }
    .barVitrine {
        transform: translate3d(0,0,0);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;    
        display: flex!important;
        justify-content: space-between;
        right: 0;
        left: 0;
        z-index: 9;
        border: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        // padding: 0 9px!important;
        width: 100%;
        height: 72px;
        margin: 0 auto;
        background: #fff;
        background-size: 0;
    }
    .flexcenter{

        display: flex;
        justify-content: space-between;

    }
    .filtroInterno {
        background: url(../assets/icon/filtro.png) right no-repeat;
        background-size: 55%;
    }
    .filtroInterno, .filtroInterno2 {
        height: 100%;
        width: 15%;
        left: 0%;
        position: relative;
    }
    
    [nav-bar-transition=ios] .back-text, [nav-bar-transition=ios] .buttons, [nav-bar-transition=ios] .title {
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: cubic-bezier(.36,.66,.04,1);
        transition-timing-function: cubic-bezier(.36,.66,.04,1);
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,transform;
    }
    
    .barVitrine .title {
        display: block;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        margin: 0 10px;
        min-width: 30px;
        height: 59px;
        text-align: center;
        white-space: nowrap;
        font-size: 17px;
        line-height: 60px;
    }
    .container-stores{
        width: 100%;
    }
    .container-stores:after{
        clear: both;
        display: block;
        content: '';
    }
    .stores {
        color: #666;
        height: 100%;
    }
    .stores li {
        list-style: none;
        width: 49%;
        height: 40vh;
        padding: 0 1% 1%;
        background-color: #f3f3f3;
        float: left;
        margin: 1% 0 2%;
    }
 
    .stores li img {
        width: 100%;
        margin: 0% auto 0;
    }
    
    .stores li .title {
        font-family: 'Rubik';
        margin-bottom: 0;
        font-weight: 600;
        font-size: 17px;
    }
    .stores li p {
        text-align: center;
        color: #666;
        margin: 0;
    }
.nomeloja{
    font-family: 'Rubik';
    font-size: 14px;
    margin: 3px;
    font-weight: 400;
}
.divpaiLojas{
    display:table;
    width:98%;
    height: 44%
}
.campoimg{
    height: 48%;
    overflow: hidden; 
    background: white;
     width: 100%; 
     margin: 2% auto;
}
.vertAlight {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column
}.stores li .title {
    font-size: 1.1em;
    color: $colorPadrao;
    margin-bottom: 2%;
}.stores li p.type {
    font-size: 1em;
}
.stores li .floor {
    width: 67%;
    margin: 0 auto;
    font-size: 1em;
}.stores li:nth-child(2n) {
    margin: 1% 0 2% 2%;
}


.filter {
    background-color:$colorPadrao;
}
 .form {
    background-color: rgba(255, 31, 119, 0.71);
    width: 100%;
    padding: 5% 2% 7%;
    margin: 2% auto;
    position: relative;
    border-radius: 6px;
    top: 0;
    transition: 0.8ms;
} .form:after{
    clear: both;
    display: block;
    content: ''
}
 .form input {
    width: 96%;
    font-family: 'Rubik';
    color: #333;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
    padding: 3.5%;
    border: 0;
} .form .btn-filter {
    width: 96%;
    background-color: #333;
    color: #fff;
    font-family: 'Rubik';
    margin-top: 5%;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
    padding: 3.5% 2%;
    text-align: center;
    margin-left: 1%;
}.filter .letters {
    color: #fff;
    padding: 0% 6%;
    margin-top: 2%;
}.filter .letters p {
    font-size: 1.5em;
    color: #fff;
}.filter .letters div {
    width: 100%;
    margin: 0 0 0 -1%;
    position: relative;
}.filter .letters div li {
    list-style: none;
    float: left;
    width: 12%;
    font-size: 1.5em;
    text-align: center;
    margin: 4% 0 3% 2%;
}.filter .form select {
    width: 96%;
    border-radius: 6px;
    background-color: #fff;
    color: #555;
    font-size: inherit;
    margin: 0 0 2%;
    overflow: hidden;
    padding: 3% 2%;
    white-space: nowrap;
}.active{
    background: $colorButtons;
}
.HomeFique{
    width: 100%;
    background: #ededed;
    margin-bottom: 5%;
    border-radius: 5px;
    display: block;
    position: relative;
    z-index: 100
}
.HomeFique .areaflexHomeFique{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    z-index: 100;
    width: 100%;
}
.HomeFique .areaflexHomeFique .Areaimg{
    width: 16%;
    border-radius: 5px;
    min-width: 85px;
    overflow: hidden;
    display: flex;
    align-items: center;
}.HomeFique .areaflexHomeFique .Areaimg img{
    margin: 0px auto;
    width: 45%;
}
.HomeFique .areaflexHomeFique .Desc{
    padding: 4%;
    overflow: hidden;
    width: 100%;
}
.HomeFique .areaflexHomeFique .Desc .Tit{
    font-family: 'Rubik';
    font-weight: 500;
    margin: 0 0 5px;
    font-size: 17px;
    color: $colorTitleInternaServico;
}.HomeFique .areaflexHomeFique .Desc .txt{
    font-family: 'Rubik';
    font-weight: 400;
    color: #646464;
    margin: 0;
    font-size: 14px;
}
.BoxFiquePorDentro .scroll-content{
    padding-top: 20px;
    margin-bottom: 0 ;
    margin-top: 85px!important;
}

}
