


<ion-content >
  <div class="alignCenter">
    <div class="price-container clearfix">
        <div class="subHeader">
          <p class="Title">Preços</p>
          <p class="Chamada">Confira os preços disponíveis</p>
        </div>

      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
        <p>Carregando dados...</p>
      </div>
      <div class="price clearfix" *ngFor="let p of precos">
            <div class="label" [innerHTML]="p.nome.str.lang_1"></div>
            <div class="form" [innerHTML]="p.descricao.str.lang_1"></div>
      </div>
    </div>
    <div class="semConexao" *ngIf="(precos)==''||precos==''">
      <img src="assets/iconSmile.png" class="iconeimg" alt="">
        <p class="AindaNaoFavorito">Aguarde! </p>
        <p>Ainda não há preços disponíveis.</p>
    </div>
  </div>
</ion-content>
