page-preco-cinema {
    .price-container {
        width: 100%;
        margin-top: 6%;
        font-family: 'Rubik';
        color: $ColorTituloInterna;
    }
    .price-container:after {
        clear: both;
        display: table;
        content: ''
    }
    .price-container .price-title {
        color: $ColorTituloInterna;
        font-size: 1.4em;
        margin: 6% 0%;
    }.price-container .label {
        color: #fec403;
        font-size: 1em;
        margin: 5% 0%;
    }
   
    .form {
        background-color: $colorButtons2;
        width: 100%;
        padding: 5% 5%;
        color: #fff;
        margin: 2 0%;
    }
    .form:after{
        display: table;
        content: '';
        clear: both;
    }
    .price-container .form p {
        color: #fff;
    }  .iconeimg{
        width: 35%;
        margin: 15% 0 3%;
    }
    .AindaNaoFavorito{
        font-family: 'Rubik';
        color: $ColorTituloInterna;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 1
    }
}
