page-lojas {
    .bar-subheader {
        border-bottom: 2px solid #ccc;
        display: table!important;
    }
    
    .noPadding {
        padding: 0!important;
    }
    .bar-subheader {
        top: 60px;
        height: 60px;
    }
    .barVitrine {
        border: none;
        background-image: linear-gradient(0deg,#ddd,#ddd 50%,transparent 50%);
        background-position: bottom;
        background-size: 100% 1px;
        background-repeat: no-repeat;
    }
    .barVitrine {
        transform: translate3d(0,0,0);
        -webkit-user-select: none;
        -moz-user-select: none;
        background: #ededed!important;
        user-select: none;    
        display: flex!important;
        justify-content: space-between;
        right: 0;
        left: 0;
        z-index: 9;
        border: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        // padding: 0 9px!important;
        width: 100%;
        height: 72px;
        margin: 0 auto;
        background: #fff;
        background-size: 0;
    }
    .flexcenter{

        display: flex;
        justify-content: space-between;

    }
    .filtroInterno {
        background: url(../assets/icon/filtro.png) right no-repeat;
        background-size: 55%;
    }
    .filtroInterno, .filtroInterno2 {
        height: 100%;
        width: 52px;
        left: 1%;
        top: 0.5%;
        position: relative;
    }
    
    [nav-bar-transition=ios] .back-text, [nav-bar-transition=ios] .buttons, [nav-bar-transition=ios] .title {
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: cubic-bezier(.36,.66,.04,1);
        transition-timing-function: cubic-bezier(.36,.66,.04,1);
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,transform;
    }
    
    .barVitrine .title {
        display: block;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        margin: 0 10px;
        min-width: 30px;
        height: 59px;
        text-align: center;
        white-space: nowrap;
        font-size: 17px;
        line-height: 60px;
    }
    .ColorBgLoja{
        background: #ededed;
    }
    .container-stores{
        width: 100%;
    }
    .container-stores:after{
        clear: both;
        display: block;
        content: '';
    }
    .stores {
        color: #666;
        height: 100%;
    }
    .stores li {
        list-style: none;
        width: 49%;
        height: 40vh;
        padding: 0 1% 1%;
        background-color: #f3f3f3;
        float: left;
        margin: 1% 0 2%;
    }
 
    .stores li img {
        width: 100%;
        margin: 0% auto 0;
    }
    
    .stores li .title {
        font-family: 'Rubik';
        margin-bottom: 0;
        font-weight: 600;
        font-size: 17px;
    }
    .stores li p {
        text-align: center;
        color: #666;
        margin: 0;
    }
.nomeloja{
    font-family: 'Rubik';
    font-size: 14px;
    margin: 3px;
    font-weight: 400;
}
.divpaiLojas{
    display:table;
    width:98%;
    height: 44%
}
.campoimg{
    height: 48%;
    overflow: hidden; 
    background: white;
     width: 100%; 
     margin: 2% auto;
}
.vertAlight {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column
}.stores li .title {
    font-size: 1.1em;
    color: $colorPadrao;
    margin-bottom: 2%;
}.stores li p.type {
    font-size: 1em;
}
.stores li .floor {
    width: 67%;
    margin: 0 auto;
    font-size: 1em;
}.stores li:nth-child(2n) {
    margin: 1% 0 2% 2%;
}

.alignCenter{
    margin-top: 0;
    position: relative
}
.filter {
    background:#fff!important;
}
.setafiltro{
    width: 5%;
    position: absolute;
    top: -3%;
    right: 1%;
}
 .form {
    // background-color: rgba(255, 31, 119, 0.71);
    width: 100%;
    padding: 5% 2% 3%;
    margin: 2% auto;
    position: relative;
    border-radius: 6px;
    top: 0;
    transition: 0.8ms;
} .form:after{
    clear: both;
    display: block;
    content: ''
}
.form input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #222222;
  }
 .form input {
    width: 100%;
    font-family: 'Rubik';
    color: #222222;
    background: transparent !important;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    font-weight: 500;
    padding: 3.5% 0 6%;
    margin-bottom: 5%;
} .form .btn-filter {
    color: $colorButtons;
    font-family: 'Rubik';
    border-radius: 6px;
    font-size: 2em;
    font-weight: 500;
    padding: 4%;
    text-align: center;
    position: absolute;
    background: url(../assets/icon/iconsearchFiltro.png) no-repeat right center;
    background-size: contain;
    top: 10%;
    right: 2%;
}.filter .letters {
    padding: 0% 0%;
    margin-top: 2%;
}.filter .letters:after{
    clear: both;
    display: block;
    content: '';
}
.filter .letters p {
}.filter .letters div {
    width: 100%;
    margin: 0 0 0 0%;
    position: relative;
}.filter .letters div li {
    list-style: none;
    float: left;
    width: 14%;
    text-align: center;
    margin: 4% 0 3% 2%;
    font-size: 1em;
    font-family: 'Rubik';
    font-weight: 500;
    color: #333333;
}
.filter .form .TitSelect{
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 500;
    color: $colorPadrao;

}
.filter .form select {
    width: 100%;
    padding: 4%;
    height: 51px;
    font-weight: 500;
    font-family: 'Rubik';
    text-transform: none;
    color: #333333;
    font-size: 14px;
    background: url(../assets/icon/SetaSelect.png) no-repeat right;
    background-size: 6%;
    background-color: #ededed;
    background-position-x: 96%;
    border: 0;
    border-radius: 5px;
    -webkit-appearance: none;
    margin-bottom: 5%;
}
.filter .form select::-ms-expand {
    display: none;
}
.active{
    background: $colorButtons;
    color: #fff
}
.HomeFique{
    width: 100%;
    background: #d3d7dd;
    margin-bottom: 5%;
    display: block;
    position: relative;
    border-radius: 7px;
    z-index: 100
}
.HomeFique .areaflexHomeFique{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    z-index: 100;
    width: 100%;
}
.HomeFique .areaflexHomeFique .Areaimg{
    width: 40%;
    border-radius: 7px;
    min-width: 150px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    background: #fff;
}
.HomeFique .areaflexHomeFique .Areaimg img-loader {
    display: flex;
    align-items: center
}
.HomeFique .areaflexHomeFique .Areaimg img{

    margin: 0px 0px 0 0%;
}
.HomeFique .areaflexHomeFique .Desc{
    padding: 4%;
overflow: hidden;
    width: 65%;
}
.HomeFique .areaflexHomeFique .Desc .Tit{
    font-family: 'Rubik';
    font-weight: 500;
    margin: 0 0 10px;
    font-size: 17px;
    color: $colorTitleInternaServico;
}.HomeFique .areaflexHomeFique .Desc .txt{
    font-family: 'Rubik';
    font-weight: 400;
    color: #444444;
    margin: 0;
    font-size: 14px;
}
.BoxFiquePorDentro .scroll-content{
    padding-top: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.ItFotter.AtivaLojas p{
    color: #363636 !important;
    font-weight: bold;
}
#Lojas{
    display: none;
}
#LojasActive{
    display: inline-block
}
}
