<ion-header class="BarHeader">
  <style>
      .barVitrine{
        background: #d9d9d9!important
      }
      .ColorBgLoja{
        background: #d9d9d9!important      
      }
      .HomeFique{
        background: #ededed!important;
      }
      </style>
<ion-navbar class="Nobackground">
  <button ion-button menuToggle class="buttonmenu">
        <img src="assets/icon/icoMenu.png" alt="">
      </button>
  <ion-title class="titleButton">
    <h1>Lojas</h1>
  </ion-title>
</ion-navbar>
</ion-header>

<ion-content  class="ColorBgLoja" [class.filter]="filter">
<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<div class="barVitrine bar-subheader noPadding">
  <div class="alignCenter flexcenter">
    <!-- <h2 class="title ng-binding" style="pointer-events: none;">Guia de Lojas<br></h2> -->
    <div class="subHeader">
      <p class="Title">Guia de Lojas</p>
      <p class="Chamada">Confira as lojas que você encontra aqui</p>
    </div>
    <div class="filtroInterno" (click)="AbrirFiltro()"></div>
  </div>
</div>

<section style="background: #fff">
<div class="alignCenter" *ngIf="filter">
  <div class="setafiltro">
    <img src="assets/icon/set_filtro.png" alt="">
  </div>
  <div class="form">
    <button class="btn-filter" (click)="Filtrar($event)"></button>
    <input [(ngModel)]="BuscaVitrine"  placeholder="Digite o nome da loja..." type="text">
    
    <p class="TitSelect">Selecione o segmento ou a inicial:</p>
    <select [(ngModel)]="CategoriaBusca" (change)="Filtrar($event)" id="category">
        <option value="">Todos</option>
          <option *ngFor="let c of ListSegmentos" value="{{c.cod}}" >{{c.nome.str.lang_1}}</option>
      </select>
  </div>
  <div class='letters'>
    <!-- <p>Busca por letra inicial</p> -->
    <div>
      <li *ngFor="let item of letras" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)">{{item}}</li>
    </div>
  </div>
</div>
</section>
<div class="alignCenter">
  <div class="container-stores" [hidden]="filter" >
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
      <p>Carregando dados...</p>
    </div>
    <!-- <div class="stores"> -->
      <div  class="HomeFique" *ngFor="let loja of lojas" (click)="IrParaInterna($event, loja)">
        <div class="areaflexHomeFique">
        <div class="Areaimg">
          <img-loader useImg *ngIf="loja.midia.arquivos.lang_1.arquivo.url!=''" src="{{loja.midia.arquivos.lang_1.arquivo.url}}" ></img-loader>

          <img-loader useImg src="assets/sem-fotoLojas.png" *ngIf="!loja.midia.arquivos.lang_1.arquivo.url!=''" alt=""></img-loader>
        </div>
        <div class="Desc">
          <!-- <div class="vertAlight"> -->
            <p class="Tit">{{loja.nome.str.lang_1}}</p>
            <p class="txt" *ngIf="loja.categorias!=0">{{loja.categorias[0].nome.str.lang_1}}</p>
            <p class="txt" *ngIf="loja.lucs!=0">{{loja.lucs[0].piso.nome.str.lang_1}}</p>
          <!-- </div> -->
        </div>
      </div>
      </div>
    <!-- </div> -->
    <div class="semConexao" *ngIf="nadaEncontrado">
      <p>Nenhum item corresponde à sua procura.</p>
    </div>
  </div>
</div>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>



<app-footer></app-footer>