page-cadastre {
  .scroll-content {
    padding-bottom:0!important;
  }
  .FormCadastre{
    margin: 0;
    padding: 0 0 0 0;
  }
  .FormCadastre .input{
    border: 0;
    width: 100%;
    font-weight: 500;
    font-family: 'Rubik';
    font-size: 15px;
    color: #616161;
    padding: 1% 5% 0 5%;
    height: 51px;
    margin-bottom: 2%;
    background: #f3f3f3;
    border-radius: 5px;
  }
  .FormCadastre .select{
    padding: 1% 5% 0
  }
  .text-input-md{
    margin: 13px 0
  }
  .select-md .select-placeholder{
    margin: 13px 0;
  }.select-md .select-icon{
    margin: 13px 0
  }
  .select-text{
    margin: 13px 0
  }
  .FormCadastre .buttonEnviar{
      width: 97%;
      height: 51px;
      background: $colorButtons;
      border-radius: 5px; 
      margin-bottom: 5%;
      margin-top: 5%;
      font-family: 'Rubik';
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
  }
  .ButtonloginfB{
    width: 97%;
    height: 51px;
    background: #4267b2;
    border-radius: 5px; 
    margin-bottom: 8%;
    margin-top: 7%;
    font-family: 'Rubik';
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  .ButtonloginfB img{
    width: 10%;
    margin: 0% 2% 0% 0%;
  }
  ion-select{
    max-width: 100%;
  }

  .FormCadastre .input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7c7c7c;
  }
   .FormCadastre .input ::-moz-placeholder { /* Firefox 19+ */
    color: #7c7c7c;
  }
   .FormCadastre .input :-ms-input-placeholder { /* IE 10+ */
    color: #7c7c7c;
  }
   .FormCadastre .input :-moz-placeholder { /* Firefox 18- */
    color: #7c7c7c;
  }

  .select-md .select-placeholder{ /* Chrome/Opera/Safari */
    color: #7c7c7c;
  }
 .FormCadastre .input.ng-valid{
    background-color: #f2ffde!important;
  }

.MsgOk{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .imgOk{
    width: 25%;
    margin: 0 auto 5%;
    display: block
  }.DescMsg{
    font-family: 'Rubik';
    font-size: 19px;
    font-weight: 500;
    color: #000;
    text-align: center;
  } .ButtonVoltarHome{
    width: 97%;
    height: 59px;
    background: #82131d;
    border-radius: 5px; 
    margin-bottom: 5%;
    font-family: 'Rubik';
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}
