<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton"> 
      <h1>Cadastro</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div [hidden]="Formulario">
  <div class="subHeader">
    <p class="Title">Cadastro</p>
    <p class="Chamada">Informe os dados abaixo para se cadastrar</p>
    <button class="ButtonloginfB" ion-button (click)="LogarFb()">
        <img src="assets/icofb.png" alt="">LOGIN COM FACEBOOK</button>

    <form [formGroup]="CadastroForm"  class="FormCadastre">
      <ion-item class="nopaddingLeft">
        <ion-input class="input" placeholder="Nome" formControlName="name" [(ngModel)]="form.Nome" name="Nome" type="text" ></ion-input>
      </ion-item>
     <ion-item class="nopaddingLeft">
        <ion-input class="input" placeholder="E-mail" formControlName="email" [(ngModel)]="form.Email" name="Email" type="text" ></ion-input>
      </ion-item>
      <ion-item class="nopaddingLeft">
        <input [textMask]="{mask: masktel}" class="input" placeholder="Telefone"  name="Telefone" [(ngModel)]="form.Telefone" formControlName="Telefone" type="tel" >
      </ion-item>
      <ion-item class="nopaddingLeft">
       <ion-select class="input select" [(ngModel)]="form.Sexo" name="Sexo" multiple="false" cancelText="Cancelar" okText="Ok" [selectOptions]="selectOptions" placeholder="Sexo" formControlName="Sexo" >
        <ion-option value="1">Feminino</ion-option>
        <ion-option value="2" >Masculino</ion-option>
      </ion-select>
      </ion-item>
     <ion-item class="nopaddingLeft">
        <ion-select class="input select" [(ngModel)]="form.EstadoCivil" name="Sexo" multiple="false" cancelText="Cancelar" okText="Ok" [selectOptions]="SelectEstadoCivil" formControlName="EstadoCivil" placeholder="Estado Civil">
            <ion-option value="Solteiro">Solteiro</ion-option>
            <ion-option value="Casado" >Casado</ion-option>
            <ion-option value="Separado" >Separado</ion-option>
            <ion-option value="Viúvo" >Viúvo</ion-option>
          </ion-select>
       </ion-item>
     <ion-item class="nopaddingLeft">
        <input class="input" placeholder="Data de Nascimento" [textMask]="{mask: maskdate}" name="DataNascimento" type="tel" formControlName="DataNascimento" >
      </ion-item>
       <ion-item class="nopaddingLeft">
        <ion-input class="input" placeholder="Senha" [(ngModel)]="form.Senha" formControlName="Senha" name="Senha" type="password" ></ion-input>
      </ion-item>
      <ion-item class="nopaddingLeft">
        <ion-input class="input"  [(ngModel)]="form.ConfirmaSenha"  placeholder="Confirmar Senha" type="password" name="confirmasenha" formControlName="ConfirmarSenha" ></ion-input>
      </ion-item> 
      <button ion-button class="buttonEnviar" (click)="finalizar()">Cadastrar</button>
    </form>
  </div>
</div>

<div class="MsgOk" *ngIf="Sucesso">
  <img src="assets/imgOk.png" class="imgOk" alt="">
  <p class="DescMsg">Cadastro realizado com sucesso!</p>
  <button class="ButtonVoltarHome" ion-button (click)="VoltarHomeLogado()">VOLTAR PARA A HOME</button>
</div>
</ion-content>

<app-footer></app-footer>