page-cupons-interna {
    .InternPadrao 
    {
        font-family: 'Rubik';
    }
    .InternPadrao p 
    {
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        line-height: 1.2em;
        margin: 1% 0 0;
    }
    .InternPadrao .title
    {
        font-weight: 500;
        color: #333333;
        font-size: 1.2em;
        margin: 2% 0 2px;;
        line-height: 1.2em;
    } 
    .InternPadrao .data
    {
        margin: 0 0 4%;
        font-size: 16px;
        font-weight: 400;
        color: #6b6b6b;
    }
    .InternPadrao img
    {
        width: 100%;
    }

    .buttoncompartilhar {
        width: 53%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 6% 0;
        overflow: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        background: transparent;
        height: inherit;
    }
    .InternPadrao .buttoncompartilhar .buttoncompartilharimg{
        width: 25%;
        margin-right: 10%;
    }
    .buttoncompartilhar p{
        font-family: 'Rubik';
        color: $colorButtons;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
    }
}
