<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton"> 
      <h1>Cupons</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="InternPadrao" >
    <img src="{{firstParam.Imagem}}" alt="">
      <p class="title"> {{firstParam.Titulo}}</p>
      <p class="data">Válido até {{ firstParam.DataFim | date : 'dd/MM/yyyy' }}</p>
      <p innerHTML="">{{firstParam.Descricao}}</p>

      <button ion-button class="buttoncompartilhar" (click)="Compartilhar()">
        <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
        <p>Compartilhar</p>
      </button>
    </div>
</ion-content>
