page-esquecisenha {
.scroll-content {
    padding-bottom:0!important;
  }
  .FormLogin{
    margin: 0;
    padding: 0 0 0 0;
  }
  .FormLogin .input{
    border: 0;
    font-weight: 500;
    font-family: 'Rubik';
    font-size: 15px;
    color: #616161;
    padding: 1% 5% 0 5%;
    height: 51px;
    margin-bottom: 5%;
    background: #ededed;
    border-radius: 5px;
    width: 100%;
  }
  .FormLogin .buttonEnviar{
      width: 100%;
      height: 51px;
      background: $colorButtons;
      border-radius: 5px; 
      margin-bottom: 5%;
      font-family: 'Rubik';
      font-size: 15px;
      color: #fff;
      text-align: center;
  }.ouEsqueciMinhaSenha{
      margin: 5% auto ;
      font-family: 'Rubik';
      font-size: 1.1em;
      color: $colorButtons;
      text-align: center;
  }
  .ButtonloginfB{
    width: 100%;
    height: 59px;
    background: #2f3471;
    border-radius: 5px; 
    margin-bottom: 5%;
    font-family: 'Rubik';
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .ButtonCadastrese{
    width: 100%;
    height: 59px;
    background: #daac2e;
    border-radius: 5px; 
    margin-bottom: 5%;
    font-family: 'Rubik';
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

   .FormLogin .input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #616161;
}
 .FormLogin .input ::-moz-placeholder { /* Firefox 19+ */
  color: #616161;
}
 .FormLogin .input :-ms-input-placeholder { /* IE 10+ */
  color: #616161;
}
 .FormLogin .input :-moz-placeholder { /* Firefox 18- */
  color: #616161;
}

.item-md.item-block .item-inner{
  padding-right: 0;
}
.MsgOk{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .imgOk{
    width: 25%;
    margin: 0 auto 5%;
    display: block
  }.DescMsg{
    font-family: 'Rubik';
    font-size: 19px;
    font-weight: 500;
    color: #000;    
    text-align: center;
  } .ButtonVoltarHome{
    width: 97%;
    height: 59px;
    background: #82131d;
    border-radius: 5px; 
    margin-bottom: 5%;
    font-family: 'Rubik';
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}
