<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton">
      <h1>Esqueci Minha Senha</h1>

      <!--<img src="assets/icon/logo.png" alt="" class="logoCliente">-->
      <div class="buttonpesquisa">
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="subHeader" [hidden]="Sucesso">
    <p class="Title">Meu Acesso</p>
    <p class="Chamada">Para recuperar a sua senha, informe seu e-mail no campo abaixo.</p>
  </div>
  <div class="FormLogin" [hidden]="Sucesso">
    <ion-item class="nopaddingLeft">
      <input class="input" [(ngModel)]="form.Email" placeholder="Seu e-mail" type="">
    </ion-item>
    <button ion-button class="buttonEnviar" (click)="enviarEmail()">Enviar</button>
  </div>


  <div class="MsgOk" *ngIf="Sucesso">
    <img src="assets/imgOk.png" class="imgOk" alt="">
    <p class="DescMsg">Você receberá um e-mail com os passos para recuperar sua senha.</p>
    <button class="ButtonVoltarHome" [navPush]="HomePage">VOLTAR PARA A HOME</button>
  </div>
</ion-content>