<ion-header class="BarHeader">
    <ion-navbar class="Nobackground">
      <button ion-button menuToggle class="buttonmenu">
          <img src="assets/icon/icoMenu.png" alt="">
        </button>
      <ion-title class="titleButton">
        <h1>serviços</h1>
      </ion-title>
    </ion-navbar>
  </ion-header>
  

<ion-content>
  <super-tabs id="mainTabs" selectedTabIndex="0"  [config]="{ sideMenu: 'left' }">
    <super-tab [root]="ListaservicosPage" title="serviços"  id="homeTab"></super-tab>
    <super-tab [root]="EstacionamentoPage" title="Estacionamento" id="locationTab" style="" class="nopaddingmenu"></super-tab>
  </super-tabs>
  
</ion-content>

<app-footer></app-footer>