page-servicos {

    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons{
        background: #e6e4e9;
        padding: 6px 10px 0;
        height: 58px;
        align-items: flex-end;
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button{
        font-family: 'Rubik';
        font-size: 13px;
        color: $colorButtons;
        border-bottom-color: transparent;
        text-overflow: inherit;
        border-bottom-width: 4px;
        padding: 0
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .indicator{
        background-color: #fec403;
        height: 4px;
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:nth-child(2){
        padding: 0 7px 0 0
    }
    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

   .alignCenter{
       margin: 0% auto 69px;
   }
}
