<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
        <img src="assets/icon/icoMenu.png" alt="">
      </button>
    <ion-title class="titleButton">
      <h1>notificações</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="alignCenter">
      <div class="subHeader">
          <p class="Chamada">Confira abaixo as notificações.</p>
      </div>
    <div class="BoxFiquePorDentro" >
      <div class="HomeFique" *ngFor="let m of MsgsList" (click)="ViewDetails($event, m)">
        <div class="iconpositive" *ngIf="m.Nova==false"></div>
        <div class="iconnegative" *ngIf="m.Nova==true"></div>
        <div class="areaflexHomeFique">
          <div class="Desc">
            <p class="Tit">{{m.Titulo}}</p>
          </div>
        </div>
      </div>
      <div class="semConexao" *ngIf="(MsgsList)==''||MsgsList==''">
          
              <img src="assets/iconSmile.png" class="iconeimg" alt="" style="    width: 35%;
              margin: 15% 0 3%;">
              <p class="AindaNaoFavorito">Aguarde! </p>
              <p>Não existem notificações.</p>
            </div>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>