<ion-content class="BoxFiquePorDentro" [class.filter]="filter">
  <style>
    .barVitrine{
      background: #d9d9d9!important
    }
    .BoxFiquePorDentro{
      background: #d9d9d9!important      
    }
    .HomeFique{
      background: #ededed!important;
    }
    .alignCenter{
      margin-top: 0%;
    }
    </style>
  <div class="barVitrine bar-subheader noPadding">
    <h2 class="title ng-binding" style="pointer-events: none;    pointer-events: none;
    font-family: 'Rubik';
    color: #00417f;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 5px;">Vitrine Virtual</h2>
    <div class="filtroInterno" (click)="AbrirFiltro()"></div>
  </div>
  <div class="alignCenter">
      <div class="setafiltro" *ngIf="filter">
        <img src="assets/icon/set_filtro.png" alt="">
      </div>

  <div class="form" *ngIf="filter" >
    <button class="btn-filter" (click)="Filtrar($event)"></button>
    <input [(ngModel)]="BuscaVitrine"  placeholder="Digite o nome do produto..." type="text">
  </div>

</div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="alignCenter">
  <div class="container-stores" [hidden]="filter" style="padding-top: 2%;">
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
      <p>Carregando dados...</p>
    </div>
    <div class="vitrine-virtual">
      <div class="HomeFique" *ngFor="let v of vitrine ">
        <div *ngIf="v!=undefined" class="areaflexHomeFique" (click)="IrParaInterna($event, v)">
          <div class="Areaimg">
            <img *ngIf="v.midia.arquivos.lang_1.arquivo.url!=''" src="{{ Dominio }}/{{v.midia.arquivos.lang_1.arquivo.url}}" style="border-radius: 5px;"/>
          </div>
          <div class="Desc">
            <p class="Tit ">{{v.nome.str.lang_1}}</p>
            <p class="txt" *ngIf="v.associacao!=0">{{v.associacao[0].nome}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="semConexao" *ngIf="nadaEncontrado">
      <p>Nenhum item corresponde à sua procura.</p>
    </div>
      <div class="semConexao" *ngIf="vitrineProduto">
          <img src="assets/iconSmile.png" class="iconeimg" alt=""><br>
          
        Não há produtos disponíveis. </div>
  </div>
</div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>