page-vitrine {

    .BoxFiquePorDentro{
        background: #ededed;
    }
    .BoxFiquePorDentro .scroll-content{
        padding-top: 0
    }
    .bar-subheader {
        border-bottom: 2px solid #ccc;
        display: table!important;
    }
    .alignCenter{
    }
    .noPadding {
        padding: 0!important;
    }
    .bar-subheader {
        top: 60px;
        height: 60px;
    }
    .barVitrine {
        border: none;
        background-image: linear-gradient(0deg,#ddd,#ddd 50%,transparent 50%);
        background-position: bottom;
        background-size: 100% 1px;
        background-repeat: no-repeat;
    }
    .barVitrine {
        transform: translate3d(0,0,0);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;    
        background: #ededed!important;
        display: flex!important;
        justify-content: space-between;
        right: 0;
        left: 0;
        z-index: 9;
        border: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 0 5px 5px;
        width: 100%;
        height: 60px;
        background-size: 0;
    }
    
    .filtroInterno {
        background: url(../assets/icon/filtro.png) center no-repeat;
        background-size: 55%;
    }
    .filtroInterno, .filtroInterno2 {
        height: 100%;
        width: 15%;
    }
    
    [nav-bar-transition=ios] .back-text, [nav-bar-transition=ios] .buttons, [nav-bar-transition=ios] .title {
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: cubic-bezier(.36,.66,.04,1);
        transition-timing-function: cubic-bezier(.36,.66,.04,1);
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,transform;
    }
    
    .barVitrine .title {
        display: block;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        margin: 0 10px;
        min-width: 30px;
        height: 59px;
        text-align: center;
        white-space: nowrap;
        font-size: 17px;
        line-height: 60px;
    }
    
.nomeloja{
    font-family: 'Rubik';
    font-size: 14px;
    margin: 3px;
    font-weight: 400;
}
.container-stores:after{
    clear: both;
    display: block;
    content: '';
}
.filter {
    background-color:#fff
}
.setafiltro{
    width: 5%;
    position: absolute;
    top: -18%;
    right: 2%;
}
 .form {
    width: 100%;
    background: #ffffff;
    padding: 5% 2% 3%;
    margin: 2% auto;
    position: relative;
    border-radius: 6px;
    top: 0;
    transition: 0.8ms;
} .form:after{
    clear: both;
    display: block;
    content: ''
}
.form input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #222222;
  }
 .form input {
    
    width: 100%;
    font-family: 'Rubik';
    color: #222222;
    background: transparent !important;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    font-weight: 500;
    padding: 3.5% 0 6%;
    margin-bottom: 5%;
} .form .btn-filter {
    color: $colorButtons;
    font-family: 'Rubik';
    border-radius: 6px;
    font-size: 2em;
    font-weight: 500;
    padding: 4%;
    text-align: center;
    position: absolute;
    background: url(../assets/icon/iconsearchFiltro.png) no-repeat right center;
    background-size: contain;
    top: 25%;
    right: 2%;
}
.HomeFique{
    width: 100%;
    background: #d3d7dd;
    margin-bottom: 5%;
    border-radius: 5px;
    display: block;
    position: relative;
    z-index: 100
}
.HomeFique .areaflexHomeFique{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    z-index: 100;
    width: 100%;
}
.HomeFique .areaflexHomeFique .Areaimg{
    width: 40%;
    border-radius: 5px;
    min-width: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
}.HomeFique .areaflexHomeFique .Areaimg img{

    margin: 0px auto;
}
.HomeFique .areaflexHomeFique .Desc{
    padding: 4%;
overflow: hidden;
    width: 65%;
}
.HomeFique .areaflexHomeFique .Desc .Tit{
    font-family: 'Rubik';
    font-weight: 500;
    margin: 0 0 10px;
    font-size: 17px;
    color: $colorTitleInternaServico;
}.HomeFique .areaflexHomeFique .Desc .txt{
    font-family: 'Rubik';
    font-weight: 400;
    color: #646464;
    margin: 0;
    font-size: 14px;
}
}
.iconeimg{
    width: 35%;
    margin: 15% 0 3%;
}
