<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton">
      <h1>Loja</h1>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <div class="logo-store" *ngIf="loja.midia.arquivos.lang_1.arquivo.url!=''">
      <div class="logo">
        <img src="{{loja.midia.arquivos.lang_1.arquivo.url}}" />
      </div>
    </div>
    <div class="alignCenter">
        
      <div class="titulolazer clearfix">
        <h1 [innerHTML]="loja.nome.str.lang_1"></h1>
        <div class="icons">
          
          <button ion-button >
            <img src="assets/icon/iconLikeFilmes.png" (click)="likeVote(loja)" [hidden]="vota" alt="">
            <img src="assets/icon/iconLikeFilmes_ativ.png"  (click)="likeVote(loja)" *ngIf="vota" alt="">
          </button>
          <button ion-button (click)="Compartilhar()">
          <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
        </button>
        </div>
      </div>

      <p class="TitleInfo bold">{{loja.categorias[0].nome.str.lang_1}}</p>

      <p class="othersTextos" [hidden]="loja.telefones[0].valor==''">{{loja.telefones[0].nome.str.lang_1}} {{loja.telefones[0].valor}}</p>
      <!-- <p class="othersTextos" [hidden]="loja.emails[0].valor==''||loja.emails[0]==undefined">E-mail: {{loja.emails[0}}</p> -->
      <p class="othersTextos" [hidden]="!loja.url[0].url">Site: {{ loja.url[0].url }}</p>
      <p class="othersTextos" *ngIf="loja.lucs!=0">{{loja.lucs[0].piso.nome.str.lang_1}} </p>
      <p class="othersTextos description" [innerHTML]="loja.descricao.str.lang_1"></p>

      <img *ngIf="loja.midia.arquivos.lang_1.arquivo_lista!=undefined" src="{{loja.midia.arquivos.lang_1.arquivo_list}}" alt="">
  </div>
</ion-content>

<app-footer></app-footer>