page-contato {
    .BoxFiquePorDentro .scroll-content{
        padding-top: 5px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .container{
        padding: 0 0
    }
    .info-shopping {
        margin-top: 4%;
    }
    .info-shopping .nome {
        border-bottom: 2px solid #ccc;
        padding: 0 0 5%;
        font-size: 18px;
        font-family: 'Rubik';
        color: $ColorTituloInterna;
        font-weight: 500
    }
    .content-shopping {
        font-size: 15px;
        text-align: left;
        margin-top: 5%;
        font-family: 'Rubik';
        font-weight: 400;
        margin-bottom: 10%;
        line-height: 1.3em;
    }
    .FormCadastre{
        margin: 0;
        padding: 0 0 0 0;
      }
      .FormCadastre .input{
        border: 0;
        width: 100%;
        font-weight: 500;
        font-family: 'Rubik';
        font-size: 15px;
        color: #616161;
        padding: 1% 5% 0 5%;
        height: 51px;
        margin-bottom: 3%;
        background: #f3f3f3;
        border-radius: 5px;
      }
      .FormCadastre .select{
        padding: 4% 8%
      }.FormCadastre .input.ng-valid{
        background-color: #f2ffde!important;
      }
      .FormCadastre .buttonEnviar{
          width: 97%;
          height: 51px;
          background: $colorButtons;
          border-radius: 5px; 
          margin-bottom: 5%;
          margin-top: 5%;
          font-family: 'Rubik';
          font-size: 15px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
      }
     .FormCadastre .textarea{
        height: inherit;
        padding: 18px 24px 0;
      }
      .boxContatoEndereco {
        font-family: 'Rubik';
        margin-top: 10%;
    }

    .boxContatoEndereco:after{
        clear: both;
        display: block;
        content: '';
    }
  .FormCadastre .input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #616161;
  }
   .FormCadastre .input ::-moz-placeholder { /* Firefox 19+ */
    color: #616161;
  }
   .FormCadastre .input :-ms-input-placeholder { /* IE 10+ */
    color: #616161;
  }
   .FormCadastre .input :-moz-placeholder { /* Firefox 18- */
    color: #616161;
  }
    .boxContatoEndereco p {
        margin-top: 0%;
        margin-bottom: 5%;
        clear: both;
        // font-family: Cabin-SemiBold;
        font-weight: 500;
        font-size: 16px;
        color: $colorPadrao;
    }.icon-info {
        width: 10%;
        height: 4em;
        float: left;
    }.descr_info {
        float: left;
        width: 100%;
    }
    .MsgOk{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }
        .imgOk{
          width: 36%;
          margin: 13% auto 5%;
          display: block
        }.DescMsg{
          font-family: 'Rubik';
          font-size: 18px;
          font-weight: 500;
          color: #000;          
          text-align: center;
        } .ButtonVoltarHome{
          width: 97%;
          height: 59px;
          background: #00417f;
          border-radius: 5px; 
          margin-bottom: 5%;
          font-family: 'Rubik';
          font-size: 15px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
        }
        .label-md{
            margin: 0
        }
        address{
            font-family: 'Rubik';
            font-weight: 400;
            color: #333;
            font-style: normal;

            font-size: 15px;
            margin: -13px 0 36px;
        }
        address strong{
            font-weight: 500
        }
        .item-md.item-block .item-inner{
            padding: 0
        }
    }
