<ion-content class="BoxFiquePorDentro">
    <div class="alignCenter">
        <div class="container" [hidden]="Sucesso">
            <div class="info-shopping">
                <div class="nome">Fale Conosco</div>
                <div class="content-shopping clearfix">
                    <form [formGroup]="ContatoForm" class="FormCadastre">
                        <ion-item class="nopaddingLeft">
                            <ion-input class="input" formControlName="nome" placeholder="Seu Nome" [(ngModel)]="form2.nome" type="text" name="nome"></ion-input>
                        </ion-item>
                        <ion-item class="nopaddingLeft">
                            <ion-input class="input" formControlName="email" placeholder="Seu E-mail" [(ngModel)]="form2.email" type="text" required="true"></ion-input>
                        </ion-item>
                        <ion-item class="nopaddingLeft">
                            <ion-input class="input" formControlName="assunto" placeholder="Assunto" [(ngModel)]="form2.assunto" type="text"></ion-input>
                        </ion-item>
                        <ion-item class="nopaddingLeft">
                            <textarea name="mensagem" formControlName="mensagem" placeholder="Digite aqui sua mensagem" [(ngModel)]="form2.mensagem" id="" cols="30" rows="10" class="input textarea"></textarea>
                        </ion-item>
                        <button ion-button class="buttonEnviar" ng-disabled="ContatoForm.$invalid" (click)="Enviar()">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="boxContatoEndereco" [hidden]="Sucesso">
            <!-- <div class="icon-info">
                <img src="assets/iconPhone.png" alt="">
            </div> -->
            <div class="descr_info">
                <p>CONTATO</p>
                <address [innerHTML]="item3">
                </address>
            </div>
        </div>

        <div class="MsgOk" *ngIf="Sucesso">
            <img src="assets/imgOk.png" class="imgOk" alt="">
            <p class="DescMsg">Enviado com sucesso!</p>
            <button class="ButtonVoltarHome" (click)="irparaHome()">VOLTAR PARA A HOME</button>
        </div>

    </div>

</ion-content>