page-fiquepordentrointerna {
    .scroll-content{
        margin-bottom: 56px
    }
    .InternPadrao {
        font-family: 'Rubik';
    }
    .InternPadrao p {
        font-weight: 400;
        font-size: 15px;
        color: #333333;
        line-height: 1.2em;
        text-align: justify;
    }
    .InternPadrao .title{
        font-weight: 500;
        color: $ColorTituloInterna;
        font-size: 18px;
        line-height: 1.2em;
    } .InternPadrao .data{
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        color: #fec403;
    }
    .InternPadrao img{
        width: 100%;
    } .titulolazer img {
        width: 95%;
        display: table-cell;
        padding: 30% 0;
    }
    .titulolazer {
        display: table;
        margin-bottom: 5%;
    }.titulolazer h1 {
        font-size: 18px;
        color: $ColorTituloInterna;
        font-family: 'Rubik';
        width: 78%;
        display: table-cell;
        // line-height: 0.3em;
        padding: 5px 0 0;
        vertical-align: middle;
    }
    .ItFotter.ativaAcontece p{
        color: #ffffff !important;
        font-weight: bold;
    }
    #Acontece{
        display: none;
    }
    #AconteceActive{
        display: inline-block
    }
}
