
<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton"> 
      <h1>Fique por dentro</h1>
      
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
<div class="InternPadrao">
  <div class="alignCenter">
    <div class="titulolazer clearfix">
        <h1 [innerHTML]="novidade.nome.str.lang_1"></h1>
        <div class="icons">
          <button ion-button (click)="likeVote(novidade)">
            <img src="assets/icon/iconLikeFilmes.png"  [hidden]="vota" alt="">
            <img src="assets/icon/iconLikeFilmes_ativ.png"   *ngIf="vota" alt="">
          </button>
          <button ion-button (click)="Compartilhar()">
            <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
          </button>
        </div>  
      </div>
      <p class="data" > {{ novidade.categorias[0].nome.str.lang_1 }} - {{novidade.data_cadastro}}</p> 
      <p [innerHTML]="novidade.descricao.str.lang_1"></p>
      <a *ngIf="novidade.url"><p (click)=abrirExterno(novidade.url) style="color: #07C;">Saiba Mais</p></a>
  </div>
  <img src="{{Dominio}}/{{novidade.midia.arquivos.lang_1.arquivo.url}}" alt=""> 
</div>
</ion-content>

<app-footer selector="page-fiquepordentrointerna"></app-footer>