<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
          <img src="assets/icon/icoMenu.png" alt="">
        </button>
    <ion-title class="titleButton">
      <h1>lazer</h1>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div class="alignCenter">
      <div class="subHeader">
        <p class="Title">Venha se divertir</p>
        <p class="Chamada">Confira as opções de entretenimento no {{nomeShopping}}.</p>
      </div>
    <div class="HomeFique" *ngFor="let l of item" (click)="IrParaInterna($event, l)">
      <div class="areaflexHomeFique">
        <div class="Areaimg">

    <img [hidden]="l.midia.arquivos.lang_1.arquivo_list.length!=0" src="{{l.midia.arquivos.lang_1.arquivo.url}}">
  <img *ngIf="l.midia.arquivos.lang_1.arquivo_list.length!=0" src="{{l.midia.arquivos.lang_1.arquivo_list[0].url}}">

        </div>
        <div class="Desc">
          <p class="Tit" [innerHTML]="l.nome.str.lang_1"></p>
          <p class="txt" [innerHTML]=" l.descricao.str.lang_1 | truncate : 50 : '...'"></p>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<app-footer></app-footer>