page-lazer {
    .HomeFique{
        width: 100%;
        background: #ededed;
        margin-bottom: 5%;
        display: block;
        position: relative;
        border-radius: 5px;
        z-index: 100
    }
    .HomeFique .areaflexHomeFique{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        position: relative;
        z-index: 100;
        width: 100%;
    }
    .HomeFique .areaflexHomeFique .Areaimg{
        width: 40%;
        border-radius: 5px;
        min-width: 150px;
        overflow: hidden;
        background-color: $colorButtons;
        text-align: center;
        max-height: 150px;
        display: flex;
    }.HomeFique .areaflexHomeFique .Areaimg img{
        margin: 0px 0px 0 0%;
        
    }
    .HomeFique .areaflexHomeFique .Desc{
        padding: 4%;
    overflow: hidden;
        width: 65%;
    }
    .HomeFique .areaflexHomeFique .Desc .Tit{
        font-family: 'Rubik';
        font-weight: 500;
        margin: 0 0 10px;
        font-size: 17px;
        color: $colorTitleInternaServico;
    }.HomeFique .areaflexHomeFique .Desc .txt{
        font-family: 'Rubik';
        font-weight: 400;
        color: #646464;
        margin: 0;
        font-size: 14px;
    }
    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }

   .ItFotter.AtivaLazer p{
    color: #363636 !important;
    font-weight: bold;
}
#Lazer{
    display: none;
}
#LazerActive{
    display: inline-block
}
}
