<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
          <img src="assets/icon/icoMenuHome.png" alt="">
        </button>
    <ion-title>
      <img src="assets/logo.png" alt="" class="logoCliente">
    <!-- <div class="buttonpesquisa">
    </div> -->
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides pager class="SliderHome">
    <ion-slide *ngFor="let banner of banners" (click)="irParaInterna($event, banner)">
      <img-loader useImg src="{{Dominio}}/{{banner.midia.arquivos.lang_1.arquivo.url}}" alt="" style="width: 100%;"></img-loader>
    </ion-slide>
  </ion-slides>

  <div class="AreaCinemaHome" *ngIf="someAreaCinema!=true">
    <div class="headerTitle">
      <div class="alignCenter flex">
        <div class="camptitledesc">
          <p class="title">
            Cinema
          </p>
          <p class="descT">Confira nossa programação</p>
        </div>
        <div class="buttonVerM" (click)="IrParaFilmes()">ver mais</div>
      </div>
    </div>
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let filme of Filmes" (click)="IrParaInternaDeOutroFilme($event, filme)">
          <img-loader useImg src="{{filme.midia.arquivos.lang_1.arquivo.url}}"></img-loader>
        </div>
      </div>
    </swiper>
  </div>


  <div class="AreaFiqueporDentro">
    <div class="headerTitle">
      <div class="alignCenter flex">
        <div class="camptitledesc nowidth">
          <p class="title">
            Fique por dentro
          </p>
          <p class="descT">Confira tudo o que acontece no shopping</p>
        </div>
      </div>
    </div>
    <div class="alignCenter">
      <div *ngFor="let fique of Novidades" (click)="DetailsFiquePorDentro($event, fique)">
        <div class="HomeFique" *ngIf="fique!=undefined">
          <div class="areaflexHomeFique">
            <div class="Areaimg">
              <img-loader useImg src="{{Dominio}}/{{fique.midia.arquivos.lang_1.arquivo.url}}" style="height: 115px;"></img-loader>
            </div>
            <div class="Desc">
              <p class="Tit" [innerHTML]="fique.nome.str.lang_1 | truncate : 35 : '...'" ></p>
              <p class="txt" [innerHTML]="fique.chamada.str.lang_1 | truncate : 50 : '...'"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<app-footer></app-footer>