page-home {
    .AparecerHome{
        display: block!important
    }
    .NaoAparecer{
        display: none!important
    }
    ion-header{
        background: #f1ce00!important;
    }
    .SliderHome{
        height: auto!important
    }
    .bghome{
        background: #dfe4ec
    }
    .nowidth{
        width: inherit!important;
    }
    .AreaCinemaHome{
        background: #fff;
        margin: -2% 0 0;
        padding-bottom: 5%;
    }
    .headerTitle{
        width: 100%;
        padding: 4px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }.camptitledesc{
        width: 75%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }.camptitledesc .title{
        font-family: 'Rubik';
        font-size: 19px;
        margin-bottom: 0;
        font-weight: 500;
        color: $ColorTituloInterna
    }.camptitledesc .descT {
        font-family: 'Rubik';
        font-size: 14px;
        font-weight: 500;
        color: #616161;
        margin-top: 3px;
    }.buttonVerM{
        background: $colorButtons;
        color: #fff;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        border-radius: 18px;
        padding: 2% 0%;
        width: 31%;
        text-align: center
    }
    .AreaFiqueporDentro{
        width: 100%;
        padding: 10px 0;
        align-items: center;
        background: #fff;
    }
    .HomeFique{
        width: 100%;
        border-radius: 5px;
        background: #ededed;
        margin-bottom: 5%;
        display: block;
        position: relative;
        z-index: 100
    }
    .HomeFique .areaflexHomeFique{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 100;
        width: 100%;
    }
    .HomeFique .areaflexHomeFique .Areaimg{
        width: 40%;
        height: 100%;
        border-radius: 5px;
        min-width: 150px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }.HomeFique .areaflexHomeFique .Areaimg img{
        border-radius: 5%;
    }
    .HomeFique .areaflexHomeFique .Desc{
        padding: 4% 4% 0;
    overflow: hidden;
        width: 65%;
    }
    .HomeFique .areaflexHomeFique .Desc .Tit{
        font-family: 'Rubik';
        font-weight: 500;
        margin: 0 0 10px;
        font-size: 17px;
        color: $colorTitleInternaServico;
    }.HomeFique .areaflexHomeFique .Desc .txt{
        font-family: 'Rubik';
        font-weight: 400;
        color: #646464;
        margin: 0;
        font-size: 14px;
    }
    
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
}
.swiper-pagination-bullet{
    opacity: 0.7;
    background: #fff;
    width: 5px;
    height: 5px;
}
.swiper-pagination-bullet-active{
    background: #fff!important;
    opacity: 1!important;
    width: 12px!important;
    height: 12px!important;
}
button.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
swiper{
    margin-left: 4%
}

.SliderHome .swiper-container {
    width: 100%;
    margin: 0 auto;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{
    border-radius: 5px;
    width: 100%
}
.SliderHome .swiper-container{
    height: inherit;
}
.SliderHome .swiper-container .swiper-slide{
    font-size: 0
}
.SliderHome .swiper-slide img{
    border-radius: 0;
    width: 100%
}
.alertCustomCss{
    display: none
}
:host >>> #search{
    display: block
}
:host >>> #searchhome{
    display: none
}
}
