page-estacionamento {
    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .BoxGuardarVaga{
        width: 93%;
        margin: 0 auto;
        background: #ededed;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }.BoxGuardarVaga .row{
        width: 100%;
        margin: 2% 0;
        position: relative;
    }
    .BoxFiquePorDentro .row .left{
        position: absolute;
        left: 5%;
        top: 45%;    z-index: 999;
    }
    .BoxFiquePorDentro .row .right{
        position: absolute;
        right: 5%;
        top: 45%;    z-index: 999;
    }
    ion-icon{
        font-size: 2.2em
    }
    .BoxFiquePorDentro .row .TitleR{
        display: block;
        margin: 0 auto 3%;
        font-family: 'Rubik';
        text-transform: uppercase;
        font-weight: 500;
        color: $ColorTituloInterna;
        font-size: 1.1em;
    }.BoxFiquePorDentro .row .SliderAndar{
        width: 100%;
        padding: 2% 0;
        background: #fff;
        font-family: 'Rubik';
        font-weight: 400;
        margin-bottom: 3%;
        color: #000000;
        height: 55px;
    }
    .BoxFiquePorDentro .row .SliderAndar .swiper-pagination{
        display: none
    }
    .slide-zoom p{
        margin: 10px auto;
        display: block;  
    }
    .vaga-selecionada {
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        padding: 10% 5% 17%;
        width: 95%;
        margin: 0 auto;
        background-color: #ededed;
    }
    .vaga-selecionada:after{
        clear: both;
        display: block;
    }
    .vaga-selecionada img {
        width: 30%;
        float: left;
        margin-right: 10%;
    }.vaga-selecionada .local {
        float: left;
        width: 22%;
        color: #fff;
        background: #d7b682;
        font-size: 2.2em;
        text-align: center;
        padding: 3%;
        margin: 2% 6% 0 0;
    }.vaga-selecionada .setorSelect {
        font-size: 1.2em;
        position: relative;
        padding-top: 8%;
    } .button-parking {
        background-color: #fff;
        font-family: Cabin-Regular;
        text-align: center;
        padding: 3.9%;
        margin-top: 4%;
        width: 100%;
        border: 0;
    }.button-parking img {
        width: 5%;
        position: relative;
        top: 3px;
        margin-right: 3%;
    }.data-vaga {
        text-align: center;
        margin-top: 7%;
        color: #fff;
    }.buttonsalvar{
        width: 93%;
        background: $colorButtons;
        color: #fff;
        height: inherit;
        margin: 6% auto;
        padding: 5% 0;
        display: block;
    }
    .buttonsalvar img {
        width: 8%;
        margin-right: 3%;
    }

}
