<ion-content class="BoxFiquePorDentro">
  <!-- <div class="BoxGuardarVaga" [hidden]="Salvo">
    <div class="row">
      <p class="TitleR">Setor</p>
      <ion-select class="selectNew" [(ngModel)]="form.Andar" name="Andar" multiple="false" cancelText="Cancelar" okText="Ok" [selectOptions]="selectOptions" (ionChange)="onSelectChange($event)">
        <ion-option  *ngFor="let e of Estacionamento; let i=index" value="{{i}}">{{e.local}}</ion-option>
      </ion-select>
    </div>


    <div class="row"  *ngIf="listsetores!=''">
      <p class="TitleR">Local</p>
      <ion-select class="selectNew" [(ngModel)]="form.Setor" name="Setor" multiple="false" cancelText="Cancelar" okText="Ok" [selectOptions]="selectOptions2"  *ngFor="let setores of listsetores"  (ionChange)="onSelectChange2($event)">
        <ion-option  *ngFor="let s of setores; let i=index" value="{{i}}">{{s.setor}}</ion-option>
      </ion-select>
    </div>
    <div class="row" *ngIf="listvagas!=''">
      <p class="TitleR">Vaga</p>

      <ion-select class="selectNew" [(ngModel)]="form.Vaga" name="Vaga" multiple="false" cancelText="Cancelar" okText="Ok" [selectOptions]="selectOptions3"   (ionChange)="onSelectChange3($event)">
          <ion-option  *ngFor="let v of listvagas; let i=index" value="{{v}}">{{v}}</ion-option>
        </ion-select>
    </div>
  </div>
  
   <button class="buttonsalvar"  [hidden]="Salvo" ion-button (click)="presentActionSheet()">
    <img src="assets/carrinhobutton.png" alt=""> 
    Salvar Vaga</button>

  <div class="parte3" *ngIf="Salvo">
    <div class="vaga-selecionada clearfix">
      <img src="assets/carrinho.png" alt="">
      <div class="local">{{ ArmazenamentoEstacionamento.andar }}</div>
      <div class="setorSelect">Setor - {{ ArmazenamentoEstacionamento.setor }}
        <br>
        Vaga - {{ArmazenamentoEstacionamento.vaga}}
      </div>
    </div>
    <button ion-button class="buttonsalvar" (click)="limparVaga()">
      <img src="assets/limparvaga.png" alt="" />
      Limpar Vaga
    </button>
   <div class="data-vaga">
      Salvo em {{selecionado.data}}
    </div> 
  </div>
    -->

  <div class="BoxGuardarVaga" [hidden]="Salvo">
    <div class="row">
      <p class="TitleR">Setor</p>

      <div class="left" (click)="PrevSlide()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </div>
      <div class="right"  (click)="ProximoSlide()">
        <ion-icon name="ios-arrow-forward" end></ion-icon>
      </div>
      <ion-slides pager #Slides1 (ionSlideDidChange)="slideChanged(e)" class="SliderAndar">
        <ion-slide *ngFor="let e of Estacionamento; let i=index">
          <p [innerHTML]="e.local"></p>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="row"  *ngIf="listsetores!=''">
      <p class="TitleR">Local</p>
    
      <div class="left" (click)="PrevSlide2()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </div>
      <div class="right"  (click)="ProximoSlide2()">
          <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
      <ion-slides pager #Slides2 class="SliderAndar" *ngFor="let setores of listsetores" (ionSlideDidChange)="slideChanged2(s)" >
        <ion-slide *ngFor="let s of setores">
          <p [innerHTML]="s.setor"></p>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="row" *ngIf="(listvagas)!=''||listvagas!=''">
      <p class="TitleR">Vaga</p>
      
        <div class="left" (click)="PrevSlide3()">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </div>
        <div class="right"  (click)="ProximoSlide3()">
            <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
        <ion-slides pager #Slides3 class="SliderAndar" (ionSlideDidChange)="slideChanged3(v)" >
          <ion-slide *ngFor="let v of listvagas">
            <p [innerHTML]="v"></p>
          </ion-slide>
        </ion-slides>
    </div>
  </div>
  
   <button class="buttonsalvar"  [hidden]="Salvo" ion-button (click)="SalvarVaga()">
    <img src="assets/carrinhobutton.png" alt=""> 
    Salvar Vaga</button>

  <div class="parte3" *ngIf="Salvo">
    <div class="vaga-selecionada clearfix">
      <img src="assets/carrinho.png" alt="">
      <div class="local">{{ ArmazenamentoEstacionamento.andar }}</div>
      <div class="setorSelect">Setor - {{ ArmazenamentoEstacionamento.setor }}<br><span *ngIf="(listvagas)!=''||listvagas!=''">Vaga - {{ ArmazenamentoEstacionamento.vaga }}</span></div>
      <!-- <div class="setorSelect"></div> -->
    </div>
    <button ion-button class="buttonsalvar" (click)="limparVaga()">
      <img src="assets/limparvaga.png" alt="" />
      Limpar Vaga
    </button>
    <!-- <div class="data-vaga">
      Salvo em {{selecionado.data}}
    </div> -->
  </div>
</ion-content>