<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton">
      <h1>Campanha</h1>

    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="alignCenter">
    
  <div class="InternPadrao">
    <div class="titulolazer clearfix">
      <h1 [innerHTML]="campanha[0].Titulo"></h1>
      <div class="icons">
        <button ion-button (click)="Compartilhar()">
          <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
        </button>
      </div>
    </div>
    <p [innerHTML]="campanha[0].Descricao"></p>


    <img src="{{ campanha[0].Imagem }}" *ngIf="campanha[0].Imagem!=''" alt="">
    <button ion-button class="buttonCadastre" *ngIf="campanha[0].AceitaCadastro==true && campanha[0].NueroInscritosDisponivel!=0" (click)="IrParaCadastro()">  
      Quero me cadastrar
  </button>

  <button ion-button class="buttonCadastre" *ngIf="campanha[0].NueroInscritosDisponivel==0" style="background: #cacaca;
  border: none;
  box-shadow: none;">  
   Inscrições Encerradas! 
</button>
  </div>
</div>
</ion-content>
<app-footer></app-footer>