page-campanha {
    .InternPadrao {
        font-family: 'Rubik';
    }
    .InternPadrao p {
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        line-height: 1.2em;
    }
    .InternPadrao .title{
        font-weight: 500;
        color: $ColorTituloInterna;
        font-size: 19px;
        line-height: 1.2em;
    } .InternPadrao .data{
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        color: $colorPadrao;
    }
    .InternPadrao img{
        width: 100%;
    } .titulolazer img {
        width: 95%;
        display: table-cell;
        padding: 30% 0;
    }
    .titulolazer {
        display: table;
        width: 100%;
    }.titulolazer h1 {
        font-size: 18px;
        color: #443a53;
        font-family: 'Rubik';
        width: 89%;
        display: table-cell;
        padding: 5px 10% 0 0;
        vertical-align: middle;
    }.titulolazer img {
        width: 100%;
        display: table-cell;
        padding: 30% 0;
    }
    .buttonCadastre{
        width: 80%;
        background: $colorButtons;
        margin: 9% auto 0;
        display: block;
        padding: 4%;
        font-family: 'Rubik';
        font-weight: 400;
        height: inherit;
        text-transform: inherit;
        font-size: 1.3em;
    }.scroll-content {
        padding-bottom: 30px
    }
}
