page-meuperfil {
  .scroll-content {
      padding-bottom:0!important;
    }
  
    .bgPerfil{
      width: 100%;
          background: url(../assets/bgMenu.png) no-repeat;
      background-size: cover;
           height: 235px;
      padding: 8% 2%;
      margin-bottom: 10%;
    }
    .bgPerfil h1{
          color: #fff;
      font-size: 20px;
      text-align: center;
      padding: 0;
      margin-top: 18px;
      font-family: 'Rubik';
    }
    .fotoPerfil {
      position: relative;
      width: 120px;
      height: 120px;
      top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 1px solid #fff;
      margin: 0 auto;
  }.iconphoto {
      background: url(../assets/icophoto.png) no-repeat;
      padding: 16%;
      background-size: 80%;
      position: absolute;
      top: 0;
      right: -16px;
      line-height: 1!important;
      font-size: 0;
      width: 36%;
  }.iconphoto input {
      position: absolute;
      width: 100%;
      font-size: 0;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
  }
  input[type=file] {
      line-height: 34px;
  }.fotoPerfil .ajustFoto {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      background-size: cover!important;
      background-position: center!important;
      background-repeat: no-repeat!important;
  }.fotoPerfil .ajustFoto img{
    width: 110%;
  }
  
  .editarperfil {
      width: 70%;
      background: #fcbc06;
      padding: 0% 3%;
      text-align: center;
      font-family: 'Rubik';
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      border: 0;
      margin: 7% 16%;
      border-radius: 3px;
      z-index: 1;
      position: relative;
      // -webkit-box-shadow: -2px -2px 5px 0 rgba(0,0,0,.39);
      // -moz-box-shadow: -2px -2px 5px 0 rgba(0,0,0,.39);
      // box-shadow: -2px -2px 5px 0 rgba(0,0,0,.39);
  }
  .listmeuperfil .bordertop {
      border-top: 1px solid #4f4e39;
  }
  .listmeuperfil .campo {
      font-family: 'Rubik';
      font-size: 15px;
      color: $colorButtons;
      padding: 5% 3.5%;
      background: #fff;
      border-bottom: 1px solid #4f4e39;
      margin: 0;
  }.listmeuperfil .campo span {
      color: #4f4e39;
      // font-size: 1em;
  }.listmeuperfil .bordertop span {
      color: #4f4e39;
      font-size: 1em;
  }
  .boxupdatePerfil {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
  }.avisoperfil {
      font-family: 'Rubik';
      font-size: 16px;
      color: #4f4e39;
  }
    .FormCadastre{
      margin: 0;
      padding: 0 0 0 0;
    }
    .FormCadastre .input{
      border: 0;
      width: 100%;
      font-weight: 500;
      font-family: 'Rubik';
      font-size: 15px;
      color: #616161;
      padding: 1% 5% 0 5%;
      height: 51px;
      margin-bottom: 2%;
      background: #f3f3f3;
      border-radius: 5px;
    }
    .FormCadastre .select{
      padding: 1% 5% 0
    }
    .text-input-md{
      margin: 13px 0
    }
    .select-md .select-placeholder{
      margin: 13px 0;
    }.select-md .select-icon{
      margin: 13px 0
    }
    .select-text{
      margin: 13px 0
    }
    .FormCadastre .buttonEnviar{
        width: 97%;
        height: 51px;
        background: $colorButtons;
        border-radius: 5px; 
        margin-bottom: 5%;
        margin-top: 5%;
        font-family: 'Rubik';
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    .ButtonloginfB{
      width: 97%;
      height: 51px;
      background: #2f3471!important;
      border-radius: 5px; 
      margin-bottom: 8%;
      margin-top: 7%;
      font-family: 'Rubik';
      font-size: 15px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
    ion-select{
      max-width: 100%;
    }
  
    .FormCadastre .input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #7c7c7c;
    }
     .FormCadastre .input ::-moz-placeholder { /* Firefox 19+ */
      color: #7c7c7c;
    }
     .FormCadastre .input :-ms-input-placeholder { /* IE 10+ */
      color: #7c7c7c;
    }
     .FormCadastre .input :-moz-placeholder { /* Firefox 18- */
      color: #7c7c7c;
    }
  
    .select-md .select-placeholder{ /* Chrome/Opera/Safari */
      color: #7c7c7c;
    }
  //  .FormCadastre .input.ng-valid{
  //     background-color: #f2ffde!important;
  //   }
  
    .ButtonloginfB{
      width: 100%;
      height: 51px;
      background: #9ec433;
      border-radius: 5px; 
      margin-bottom: 5%;
      font-family: 'Rubik';
      font-size: 15px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10%;
    }
    
    .buttonAlterar{
      width: 100%;
      height: 51px;
      background: $colorButtons;
      border-radius: 5px; 
      margin-bottom: 5%;
      font-family: 'Rubik';
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      // margin-top: 10%;
    }
  
  .MsgOk{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .imgOk{
      width: 25%;
      margin: 0 auto 5%;
      display: block
    }.DescMsg{
      font-family: 'Rubik';
      font-size: 19px;
      font-weight: 500;
      color: #000;    
      text-align: center;
    } .ButtonVoltarHome{
      width: 97%;
      height: 59px;
      background: #82131d;
      border-radius: 5px; 
      margin-bottom: 5%;
      font-family: 'Rubik';
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
    }
    .marginForm{
      margin-top: 10%;
    }
  }
  