<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton"> 
      <h1>Meu Perfil</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="bgPerfil">
    <div class="fotoPerfil" (click)="presentActionSheet()">
      <div class="iconphoto">
        <!-- <input type="file" accept="image/*"> -->
      </div>

         <!-- <img src="https://graph.facebook.com/{{Usuario.fbUsuario}}/picture?type=large" alt="" *ngIf="ModeFace" >  
         <img src="assets/perfil.png" alt="" *ngIf="ModeFace2"> 
         <img src="{{FotoApp}}" alt="" [hidden]="ModoFace3"> -->
          
         <div class="ajustFoto" *ngIf="ModeFace" [ngStyle]="{'background-image': 'url(https://graph.facebook.com/' + Usuario.fbUsuario + '/' + 'picture?type=large' + ')'}">
         </div>
         <div class="ajustFoto" *ngIf="ModeFace2" style="background: url('assets/perfil.png')"> </div>
         <div class="ajustFoto" [hidden]="ModoFace3" [ngStyle]="{'background-image': 'url(' + FotoApp + '' + '' + ')'}">    </div>


         
    </div>
       <h1 class="clearfix ng-binding" ng-bind="infoperfil.Nome">{{ Usuario.nomeUsuario }}</h1> 

      <button class="editarperfil" ion-item [hidden]="Formulario" (click)="editarPerfil()">Editar meu perfil agora</button>
  </div>
  <div class="listmeuperfil" [hidden]="Formulario || alterarSenhar">
    <div class="alignCenter">
      <div class="boxupdatePerfil center">
          <p class=" avisoperfil">Mantenha seus dados sempre atualizados e tenha uma experiência ainda mais exclusiva!</p>
        </div>
    </div>
  <p class="campo bordertop">E-mail<br><span [innerHTML]="email"> </span></p>
  <!-- <p class="campo" *ngIf="telefone!=null">Telefone<br><span> {{ MeusDados.telefone }} </span></p>   -->
  <p class="campo" *ngIf="sexo!='Sexo'" >Sexo<br><span [innerHTML]="sexo">  </span></p>
  <p class="campo" *ngIf="estadocivil!='null' ">Estado Civil<br><span [innerHTML]="estadocivil"> </span></p>
  <p class="campo" *ngIf="datanascimento!=null">Data de Nascimento<br><span>{{datanascimento | amUtc | amDateFormat: 'DD/MM/YYYY'}}
    </span></p>
  <div class="alignCenter marginForm">
    <button ion-item class="ButtonloginfB" *ngIf="Usuario.fbUsuario==null" (click)="VincularConta()">Conecte com o Facebook</button>
    <button ion-item class="buttonAlterar" (click)="changePassword()">
      Alterar Senha
    </button>
  </div>
</div>
  <div class="alignCenter" *ngIf="Formulario">
    <form  class="FormCadastre">
      <ion-item class="nopaddingLeft">
          <ion-input class="input" placeholder="Nome" [(ngModel)]="form.Nome" name="Nome" type="text" ></ion-input>
        </ion-item>
      <ion-item class="nopaddingLeft">
          <ion-input class="input" placeholder="E-mail"  [(ngModel)]="form.Email" name="Email" type="text" ></ion-input>
        </ion-item>
        <ion-item class="nopaddingLeft">
          <input [textMask]="{mask: masktel}" class="input" placeholder="Telefone"  name="Telefone" [(ngModel)]="form.Telefone" type="tel" >
        </ion-item>
        <ion-item class="nopaddingLeft">
        <ion-select class="input select" [(ngModel)]="form.Sexo" name="Sexo" multiple="false" cancelText="Cancelar" okText="Ok" [selectOptions]="selectOptions" placeholder="{{sexo}}" >
          <ion-option value="1">Feminino</ion-option>
          <ion-option value="2" >Masculino</ion-option>
        </ion-select>
        </ion-item>
      <ion-item class="nopaddingLeft">
          <ion-select class="input select" [(ngModel)]="form.EstadoCivil" name="Sexo" multiple="false" cancelText="Cancel" okText="Ok" [selectOptions]="SelectEstadoCivil" placeholder="Estado Civil">
              <ion-option value="Solteiro">Solteiro</ion-option>
              <ion-option value="Casado" >Casado</ion-option>
              <ion-option value="Separado" >Separado</ion-option>
              <ion-option value="Viúvo" >Viúvo</ion-option>
            </ion-select>
        </ion-item>
      <ion-item class="nopaddingLeft">
          <input class="input" placeholder="Data de Nascimento" [(ngModel)]="form.datanascimento" [textMask]="{mask: maskdate}" name="DataNascimento" type="tel" >
        </ion-item>
        <button ion-button (click)="atualizar()" class="buttonAlterar" >
          Atualizar os Dados
        </button>
    </form>
  </div>
  <div class="alignCenter" *ngIf="alterarSenhar">
    <form class="FormCadastre">
        <ion-item class="nopaddingLeft" *ngIf="facebooktem==null">
            <ion-input class="input" placeholder="Senha Atual" [(ngModel)]="formSenha.Senha" name="Senha" type="password" ></ion-input>
          </ion-item>
        <ion-item class="nopaddingLeft">
          <ion-input class="input"  [(ngModel)]="formSenha.NovaSenha"  placeholder="Nova Senha" type="password" name="NovaSenha"  ></ion-input>
        </ion-item> 
        <ion-item class="nopaddingLeft">
          <ion-input class="input"  [(ngModel)]="formSenha.ConfirmaSenha"  placeholder="Confirmar Senha" type="password" name="ConfirmaSenha"  ></ion-input>
        </ion-item> 
        <button ion-button (click)="TrocarSenha()" class="buttonAlterar">
          Confirma senha
        </button>
    </form>
  </div>


</ion-content>
<app-footer></app-footer>
