<ion-content class="BoxFiquePorDentro">

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="alignCenter">
      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
        <p>Carregando dados...</p>
      </div>

    <div class="semConexao" *ngIf="NaoDisponivel"> Não há posts disponíveis. </div>
    <div class="repeatfeedsocial" *ngFor="let f of Feed">
      <div class="headsocial">
        <div class="iconsocial">
          <img src="assets/Fb_socialfeed.png" *ngIf="f.TipoRedeSocial == 'Facebook'">
          <img src="assets/In_socialfeed.png" *ngIf="f.TipoRedeSocial == 'Instagram'">
          <img src="assets/Tw_socialfeed.png" *ngIf="f.TipoRedeSocial != 'Facebook' && f.TipoRedeSocial != 'Instagram'">
        </div>
        <p>{{ f.dataPublicacao }}</p>
      </div>
      <img [hidden]="f.Picture=='' || f.Picture==null" src="{{f.Picture}}">
      <p>{{ f.Mensagem }}</p>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Carregando mais dados...">></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
    
  </ion-content>