page-feed {

    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
   .repeatfeedsocial {
        background-color: #f3f3f3;
        margin-bottom: 5%;
        padding: 4%;
    }
    .repeatfeedsocial .headsocial {
        display: table;
        width: 100%;
        margin-bottom: 5%;
    }
    .repeatfeedsocial .headsocial .iconsocial {
    width: 13%;
    display: table-cell;
    }
    .repeatfeedsocial .headsocial .iconsocial img {
        width: 100%;
    }
    .repeatfeedsocial .headsocial p {
        width: 87%;
        display: table-cell;
        vertical-align: middle;
        color: #999999;
        font-family: 'Rubik';
        font-size: 14px;
        font-weight: 500;
        padding-left: 3%;
    }
    .repeatfeedsocial p{
        font-family: 'Rubik';
        // font-size: 
        color: #333333;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2em;
    }
}
