<ion-content class="BoxFiquePorDentro">
  <div class="alignCenter"  *ngFor="let f of enquete">
    <div class="containerFaleConosco" [hidden]="Sucesso==true || primeiraparte">
      <div class="pinicial">
        <p *ngIf="f.IdCupom == 0">Participe de nossa enquete. É rápido e fácil.</p>
        <p *ngIf="f.IdCupom != 0">Responda essa enquete para liberar um cupom de desconto. </p>
      </div>

      <div class="info-shopping" [innerHTML]="f.Pergunta">
      </div>

      <ion-item *ngFor="let resposta of respostas">
        <ion-label>{{ resposta.Resposta }}</ion-label>
        <ion-checkbox [(ngModel)]="resposta.model" (click)="selecionaCheck(resposta)"></ion-checkbox>
      </ion-item>

      <button ion-item class="btnEnviar" (click)="responder()">Responder</button>
    </div>
  </div>
  <div class="semConexao" *ngIf="verEnquete==false" style="margin-top: 28%;">
    <p>Por enquanto não existem novas enquetes. Aguarde. :)</p>
    <button  class="butttonnovo" (click)="irparahome()">
      Voltar para home
    </button>
  </div>
  <div class="container" *ngIf="Sucesso==true">
    <div class="msgenviada">
      <img src="assets/imgOk.png" alt="" class="ok">
      <p>Enquete respondida com sucesso!</p>
      <div *ngFor="let f of enquete">
        <button ion-button *ngIf="f.IdCupom != 0" class="butttonnovo" (click)="irparacupom($event, f.IdCupom)">
          Cupom liberado, clique e acesse
        </button>
      <button ion-button *ngIf="f.IdCupom == 0" class="butttonnovo2" (click)="irparahome()">
        Voltar para home
      </button>
      </div>
    </div>
  </div>

  <div class="alignCenter" *ngIf="Token==undefined">
      <p class="semConexao">Você precisa estar logado para acessar essa área.</p>
      <button class="buttonIrparalogin" (click)="irParaLogin()" >
          Ir para Login
        </button>
    </div>
</ion-content>