page-enquetes {
    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .info-shopping {
        padding: 6% 0 5% 0;
        font-family: 'Rubik';
        font-weight: 500;
        color: $ColorTituloInterna;
        border-bottom: 1px solid #666665;
        border-top: 1px solid #666666;
        font-size: 18px;
        margin-bottom: 5%;
    }
    
    .btnResponderDepois {
        background-color: #fccb7e !important;
        color: #fff;
        padding: 5% 0;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: initial !important;
        text-align: center;
    }

    .btnEnviar {
        font-size: initial !important;
        text-align: center;
        background-color: $colorButtons;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        font-family: 'Rubik';
        font-weight: 500;
        border-radius: 4px;
        padding: 1% 0;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    /*IONIC CHECKBOX*/

    .item-checkbox {
        text-align: left;
        background-color: transparent;
        border: none;
        padding-left: 0px;
        padding-top: 0px;
        margin: 0px;
    }
    .item.item-md .checkbox-md{
        color: #000;
        margin: 9px 10px 9px 4px;
    }
    .checkbox-md + .item-inner ion-label{
        color: #666666;
        font-size: 16px;
    }
    .checkbox-md {
        position: relative;
        width: 16px;
        height: 16px;
        display: block;
        border: 0;
        background: 0 0;
        margin: 4% 0;
        cursor: pointer;
        -webkit-appearance: none;
    }

    .checkbox-md .checkbox-icon{

        background: #4f4e39;
        border-color: #FFF;
        background: #FFF;
        color: #000;
        border-color: #4f4e39;
        box-shadow: inset 0px 4px 8px #bbb;
        border-radius: 100%;
    }

    .checkbox-checked .checkbox-inner {
        height: 16px;
        width: 16px;
    }
    .checkbox-md .checkbox-checked {
        border-color: $checkbox-md-icon-border-color-on;
        background-color: #000;
      }
      
    .checkbox input:checked+.checkbox-icon:before,
    .checkbox input:checked:before {
    }

    .checkbox .checkbox-icon:before,
    .checkbox input:before {
        /*margin-left: -16px;*/
    }

    .checkbox input:after,
    .checkbox-icon:after {
        display: none;
        border: none;
    }

    .containerFaleConosco {
        // padding: 5%;
    }

    .bandeiraEnquete {
        width: 4%;
        margin-right: 2%;
    }

    .pinicial {
        background-image: url(../assets/icon/icoEnquete.png);
        background-size: 5%;
        background-repeat: no-repeat;
        background-position: 0px 3px;
    }

    .pinicial p {
        line-height: 1.2;
        font-size: 16px;
        margin: 5% 0 5% 7%;
        font-family: 'Rubik';
        font-weight: 400;
    }

    .semConexao{
        line-height: 1.2;
        font-size: 16px;
        margin: 5% auto;
        width: 93%;
        text-align: center;
        font-family: 'Rubik';
        font-weight: 400;
    }


    .container {
        margin-top: 45%;
        padding: 5%;
    }

    .ok {
        width: 22%;
        margin-top: 31%;
        margin: 0 auto;
        display: block;
    }

    .msgenviada {
        text-align: center;
        font-size: 1.1em;
        color: #333333;
    }

    .msgenviada p {
        line-height: 4;
    }

    .button-faleconosco {
        font-size: initial !important;
        text-align: center;
        background-color: $colorButtons ;
        color: #fff;
        width: 100%;
        padding: 5% 0;
        margin-bottom: 5%;
    }

    .tituloVerdadeiro {
        margin-top: -19%!important;
        display: block!important;
    }

    .noPadding {
        display: none!important;
    }

    .container {
        margin-top: 22%;
        padding: 5%;
    }

    .msgenviada p {
        margin-bottom: -2%!important;
    }

    .butttonnovo{
        
                width: 97%;
                height: 59px;
                background: #00417f;
                border-radius: 5px; 
                margin-bottom: 5%;
                font-family: 'Rubik';
                font-size: 15px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
            }.butttonnovo2{
                
                        width: 97%;
                        height: 59px;
                        background: #00417f;
                        border-radius: 5px; 
                        margin-bottom: 5%;
                        font-family: 'Rubik';
                        font-size: 15px;
                        color: #fff;
                        text-transform: uppercase;
                        text-align: center;
                    }
}
