<ion-content class="BoxFiquePorDentro">
  <div class="alignCenter">
    <div class="subHeader">
      <p class="Title">Nossos Serviços</p>
      <p class="Chamada">Confira os principais serviços que oferecemos</p>
    </div>
    <div class="container-stores" ng-hide="filter" style="padding-top: 2%;">
        <!-- <div class="servicoslist"> -->
        <div class="HomeFique" *ngFor="let s of servicos" (click)="IrParaInterna($event, s)">
          <div class="areaflexHomeFique">
          <div class="Areaimg">
            <img src="{{Dominio}}/{{s.midia.arquivos.lang_1.arquivo.url}}" />
          </div>
          <div class="Desc">
            <p class="Tit ">{{s.nome.str.lang_1}}</p>
            <p class="txt" *ngIf="s.lucs!=0">{{ s.lucs[0].piso.nome.str.lang_1}}</p>
          </div>
        </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
</ion-content>
