page-listaservicos {
    .BoxFiquePorDentro .scroll-content{
        padding-top: 5px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .noPadding {
        padding: 0!important;
    }
    .filtroInterno {
        background: url(../assets/icon/filtro.png) center no-repeat;
        background-size: 55%;
    }
    .filtroInterno, .filtroInterno2 {
        height: 100%;
        width: 15%;
    }
    
    [nav-bar-transition=ios] .back-text, [nav-bar-transition=ios] .buttons, [nav-bar-transition=ios] .title {
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: cubic-bezier(.36,.66,.04,1);
        transition-timing-function: cubic-bezier(.36,.66,.04,1);
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,transform;
    }
    
    .barVitrine .title {
        display: block;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        margin: 0 10px;
        min-width: 30px;
        height: 59px;
        text-align: center;
        white-space: nowrap;
        font-size: 17px;
        line-height: 60px;
    }
    
    .servicoslist {
        color: #666;
    }
    
    .servicoslist li {
        list-style: none;
        width: 48%;
        height: 13em;
        background-color: #f3f3f3;
        padding: 1% 1% 4%;
        float: left;
        margin-bottom: 5%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;;
        margin-right: 0;
        overflow: hidden;
    }
    .servicoslist li:nth-child(2n)
{
    margin-left: 4%;

}    .servicoslist li .description {
        margin: 4% 0;
        
    height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* text-align: center; */
        width: 100%;
    }
    .servicoslist li img {
        margin: 2% 2% 0;
    }
    
    .servicoslist li .title {
        font-family: 'Rubik';
        margin-bottom: 0;
        font-weight: 500;
        font-size: 17px;
    }
    .servicoslist li p {
        text-align: center;
        color: #666;
    }
.nomeloja{
    font-family: 'Rubik';
    font-size: 14px;
    margin: 3px;
    font-weight: 400;
}
.servicoslist li .ImagemCampo{
    width: 100%;
    background: $colorButtons;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
}
.HomeFique{
    width: 100%;
    background: #ededed;
    margin-bottom: 5%;
    border-radius: 5px;
    display: block;
    position: relative;
    z-index: 100
}
.HomeFique .areaflexHomeFique{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    z-index: 100;
    width: 100%;
}
.HomeFique .areaflexHomeFique .Areaimg{
    width: 40%;
    border-radius: 5px;
    min-width: 150px;
    overflow: hidden;
    display: flex;
    background: $colorButtons;
    align-items: center;
}.HomeFique .areaflexHomeFique .Areaimg img{

    margin: 0px auto;
}
.HomeFique .areaflexHomeFique .Desc{
    padding: 4%;
overflow: hidden;
    width: 65%;
}
.HomeFique .areaflexHomeFique .Desc .Tit{
    font-family: 'Rubik';
    font-weight: 500;
    margin: 0 0 10px;
    font-size: 17px;
    color: $colorTitleInternaServico;
}.HomeFique .areaflexHomeFique .Desc .txt{
    font-family: 'Rubik';
    font-weight: 400;
    color: #646464;
    margin: 0;
    font-size: 14px;
}
}
