
<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton"> 
      <h1>alimentação</h1>
      
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <div class="logo-store" *ngIf="gastronomia.midia.arquivos.lang_1.arquivo.url!=''">
    <div class="logo">
      <img src="{{gastronomia.midia.arquivos.lang_1.arquivo.url}}"/>
    </div>
</div>
<div class="alignCenter">
  <div class="titulolazer clearfix">
    <h1 [innerHTML]="gastronomia.nome.str.lang_1"></h1>
    <div class="icons">
      <button>
        <img src="assets/icon/iconLikeFilmes.png" (click)="likeVote(gastronomia)" [hidden]="vota" alt="">
        <img src="assets/icon/iconLikeFilmes_ativ.png"  (click)="likeVote(gastronomia)" *ngIf="vota" alt="">
      </button>
        <button (click)="Compartilhar()">
        <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
      </button>

    </div>
  </div>

  <p class="TitleInfo bold">{{gastronomia.categorias[0].nome.str.lang_1}}</p>

  <p class="othersTextos" [hidden]="gastronomia.telefones[0].valor==''">{{gastronomia.telefones[0].nome.str.lang_1}} {{gastronomia.telefones[0].valor}}</p>
  <!-- <p class="othersTextos" [hidden]="loja.emails[0].valor==''||loja.emails[0]==undefined">E-mail: {{loja.emails[0}}</p> -->
  <p class="othersTextos" [hidden]="!gastronomia.url[0].url">Site: {{ gastronomia.url[0].url }}</p>
  <p class="othersTextos" *ngIf="gastronomia.lucs.length>0">{{gastronomia.lucs[0].piso.nome.str.lang_1}} </p>
  <p class="othersTextos" [innerHTML]="gastronomia.descricao.str.lang_1"></p>

  <img *ngIf="gastronomia.midia.arquivos.lang_1.arquivo_lista!=undefined" src="{{gastronomia.midia.arquivos.lang_1.arquivo_list}}" alt="">
</div>
</ion-content>

<app-footer></app-footer>


