page-gastronomia-interna {
    .logo-store {
        background-image: url(../assets/lojas/fundoImg.png);
        background-position: 100% center;
        background-size: 100%;
        margin-bottom: 1%;
    }

    .logo-store .logo {
        width: 40%;
        padding: 2%;
    }

    img {
        width: 100%;
    }

    .center {
        width: 90%!important;
        margin: 0 auto;
        padding-bottom: 10%;
    }
    .titulolazer {
        border-bottom: .08em solid #ccc;
        display: table;
        margin-bottom: 5%;
    }.titulolazer h1 {
        font-size: 18px;
        color: $ColorTituloInterna;
        font-family: 'Rubik';
        width: 78%;
        display: table-cell;
        // line-height: 0.3em;
        padding: 5px 0 0;
        vertical-align: middle;
    }.titulolazer img {
        width: 100%;
        display: table-cell;
        padding: 30% 0;
    }.clearfix:after, .promocoescomp:after {
        display: block;
        clear: both;
        content: '';
    }
    .TitleInfo{
        font-family: 'Rubik';
        font-weight: 600;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0 0 5%;
    }
    .othersTextos{
        font-family: 'Rubik';
        font-weight: 400;
        color: #000;
        font-size: 15px;
        margin: 0 0 1%;
    }
    .description{
        margin: 7% 0 1%;
        line-height: 21px
    } 
 .titulolazer img {
    width: 95%;
    display: table-cell;
    padding: 30% 0;
}
.ItFotter.AtivaGastro p{
    color: #363636 !important;
    font-weight: bold;
}
#Gastronomia{
    display: none;
}
#GastronomiaActive{
    display: inline-block
}
}
