<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
        <img src="assets/icon/icoMenu.png" alt="">
      </button>
    <ion-title class="titleButton">
        <h1>Cinema</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <super-tabs>
    <super-tab  [root]="FilmesPage" title="Filmes" id="filme"></super-tab>
    <super-tab [root]="PrecoCinemaPage" title="Preços" id="preco"></super-tab>
  </super-tabs>
</ion-content>

<app-footer></app-footer>