page-list-filmes {
    .scroll-content{

        margin: 0 ;
        padding-bottom: 60px
    }

    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons{
        background: #e6e4e9;
        padding: 2% 10px 0;

    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button{
        font-family: 'Rubik';
        font-size: 13px;
        color: $colorButtons;
        border-bottom-color: transparent;
        text-overflow: inherit;
        border-bottom-width: 4px;
        padding: 0
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .indicator{
        background-color: #fec403;
        height: 4px;
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:nth-child(2){
        padding: 0 7px 0 0
    }

    // super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:nth-child(1){
    //     background: url(../assets/icon/iconmovie.png) no-repeat left !important;
    //     background-position-x: 10%!important;
    //     background-position-y: 0%;
    //     background-size: 20%!important;

    // }
    // super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:nth-child(2){
    //     background: url(../assets/icon/iconpreco.png) no-repeat left !important;
    //     background-position-x: 10%!important;
    //     background-position-y: 0%;
    //     background-size: 20%!important;

    // }
.ItFotter.AtivaCinema p{
    color: #363636 !important;
    font-weight: bold;
}

#Cinema{
    display: none;
}
#CinemaActive{
    display: inline-block
} 
}
