// http://ionicframework.com/docs/theming/
.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.md ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content, .md ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .md ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .md ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .md ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content, .md ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content{
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.md ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child{
  padding-top: inherit!important;
  min-height: inherit!important;
}
.Nobackground{
  padding-top: inherit!important;
  min-height: inherit!important;
}
.md ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child{

  padding-top: inherit!important;
  min-height: inherit!important;
}

.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
  background-image: inherit!important;
  padding-right: inherit!important; 
  background-position: 0; 
  background-repeat: no-repeat;
  background-size: inherit!important;
  border: 0;
}

.fixed-content{
  background: transparent!important;
  opacity: 0;
}

#AconteceActive{
  display: none;
}
#CinemaActive{
  display: none;
}
#LazerActive{
  display: none;
}
#LojasActive{
  display: none;
}
#GastronomiaActive{
  display: none
}
.scroll-content{
  overflow-y:auto;
  overflow-x:auto;
}
.click-block-enabled{
  display: none
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  background: inherit!important;
  display: none
}
// Variavel de cores para simplificar na replicação
$colorPadrao: #0d3d75;
$colorBarraBaixo: #666666;
$ColorTituloInterna: #00417f;
$colorButtons: #00417f;
$colorButtons2: #00417f;
$colorEmailMenu: #9c8383;
$colorTitleInternaServico: #00417f;

.button-md:hover:not(.disable-hover) {
  background-color: rgba(0,0,0,0.1);
}
ion-app.md [padding] .scroll-content{
  padding: 12px
}
.spinner-md-crescent circle{
  stroke: $colorButtons
}

.spinner-container p {
  color: $ColorTituloInterna;
}
.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}
@font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-Black.ttf");
    font-weight: 900;
  }
  @font-face {
    font-family: 'Rubik';
      src: url("../assets/fonts2/Rubik-BlackItalic.ttf");
      font-weight: 900;
      font-style: italic;
  }
  @font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-Bold.ttf");
    font-weight: 700
  }
  @font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-Italic.ttf");
    font-weight: 400;
    font-style: italic
  }
  @font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Rubik';
    src: url("../assets/fonts2/Rubik-Regular.ttf");
    font-weight: 400;
  }

.toolbar-title {
    display: flex;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.toolbar-ios ion-title {
      -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    min-width: 0;
    max-width: 100%;
    padding: 0
}
  .BarHeader{
    height: 60px;
    background: #f1ce00;
  }
  .footerBarra{
    height: 60px;
    background: #dbdbdb;
  }
  .buttonpesquisa{
    width: 100%;
    position: relative;
    left: -2%;
    padding: 0;
    background: transparent;
    float: right;
    
  }.buttonpesquisa img{ 
    width: 77%;
    margin-top: 11%;
    margin-left: 22%;
  }
  .buttonpesquisa.item-md.item-block .item-inner{
    padding: 0!important
  }
  .tabbar{
    height: 69px;
    background: $colorPadrao!important;
  }

  //Controlando o conteudo do scroll
  .scroll-content{
    margin-top: 60px;
    margin-bottom: 60px
  }
  .Nobackground{
    background: none;
    margin-top: 10px;
    height: 60px;
    padding: 0;
    margin: 0;
  }
  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
    background: transparent;
    border: 0;
    padding-top: 0;
  }
    .toolbar-background-md{
        border-color: transparent;
      background: transparent;
    }
  ion-menu[type=reveal]{
    z-index: 20
  }
  
  .HeaderMenu{
    background: url(../assets/bgMenu.png) no-repeat;
    background-size: cover;
    padding: 10px 5%;
    height: 226px
  }
  .AreaNaoCadastrou{
    width: 90%;
    margin: 7% 5%;
  }.AreaNaoCadastrou .title{
    font-family: 'Rubik';
    font-weight: 400;
    color: #fff;
    font-size: 1.4em;
    margin: 0 0 0;
    width: 55%;
    padding: 0 0
  }
  .AreaNaoCadastrou .descr{
    width: 95%;
    padding: 0 0;
    font-family: 'Rubik';
    color: #78b2ef;
    font-size: 1em;
    font-weight: 400
  }
  .butentroucadastre{
    background: url(../assets/setalogarmenu.png) no-repeat left;
    background-size: 5.5%;
    padding: 1% 0 0 7%;
    font-family: 'Rubik';
    font-weight: 400;
    opacity: 1;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
  }
  .AreaLogado{
    width: 90%;
    margin: 0% 5% 8%;
  }
  .AreaLogado .BoxPhoto{
    padding: 35px;
    overflow: hidden;
    border-radius: 100%;
    
    background-size: cover!important;
    background-position: center!important;
  }
  .AreaLogado .headerBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #7b7a7a;
    padding-bottom: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
  }.AreaLogado .headerBox img{
    width: 70px;
    margin-right: 10px;
    height: 70px;
    border-radius: 100%;
  }.AreaLogado .headerBox .BoxName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5%
  }.AreaLogado .headerBox .BoxName .Name{
    font-family: 'Rubik';
    font-weight: 400;
    margin: 10% 0 0;
    padding: 0;
    line-height: 1;
    color: #fff;
    font-size: 1.2em;
  }.AreaLogado .headerBox .BoxName .Email {
    color: #78b2ef;
    font-family: 'Rubik';
    font-size: 1em;
    margin: 3px 0 0;
    font-weight: 400;
  }.AreaLogado .AreaNotificacoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0 0;
  }.AreaLogado .AreaNotificacoes img{
    width: 10%;
  }.AreaLogado .AreaNotificacoes .QuantosNottem{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }.AreaLogado .AreaNotificacoes .QuantosNottem .tit1{
    font-family: 'Rubik';
    font-weight: 400;
    margin: 0;
    line-height: 1;
    font-size: 0.9em;
    color: #78b2ef;
    margin: 0 0 0;
  }.AreaLogado .AreaNotificacoes .QuantosNottem .numbernotifications{
    font-family: 'Rubik';
    font-size: 1.1em;
    margin: 3px 0 0;
    line-height: 1;
    font-weight: 500;
    color: #fff;
  }
  .list-md{
    margin-top: 8%;
  }
.list-md .item-block .item-inner{
  border: 0;
  margin: 0 5%;
  font-family: 'Rubik';
  font-weight: 400;
  color: #222222;
  font-size: 1.3em
}
  .buttonmenu{
    display: block!important
  }.buttonmenu .activated{
    opacity: 0.4
  }
  .buttonmenu img{
    width: 49%;
    margin-left: 15%;
  }
  .logoCliente{
    width: 57%;
    position: relative;
    left: -11%;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerrodape{
    width: 100%;
    display: flex;
    padding: 0 5%;
    justify-content: space-around;
    align-items: center;
  }
  .itemsrodape .input-wrapper{
    overflow: inherit
  }.itemsrodape .input-wrapper .label-md{
    font-size: inherit!important
  }
  .itemsrodape:nth-child(4){
    margin-right: 10px
  }
  .itemsrodape{
    width: 20%;
      // margin-right: 10px;
      display: flex;
    flex-direction: column;
    font-family: 'Rubik';
    background: transparent!important;
    font-weight: 500;
    align-items: center;
    color: #fff;
    overflow: inherit!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }.itemsrodape img {
    width: 45%;
    margin: 0 auto;
    display: block;

  }.itemsrodape p{
    font-size: 0.8em;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 0 0;
    padding: 0 0 0 0
  }
  // .itemsrodape:nth-child(3){
  //   margin-right: -1%;
  //   margin-left: -3%;
  // }
  .toolbar-title h1{
    font-family: 'Rubik';
    font-size: 18px;
    color: #214d7a;
    margin-top: 10px;
    font-weight: 400;
    text-transform: uppercase ;
  }
  .titleButton .toolbar-title {
    justify-content: space-between;
  }
  .titleButton .toolbar-title .buttonpesquisa{
    left: 0%
  }
  .subHeader{
    width: 100%;
    margin: 0 0 5%;
  }
  .subHeader .Title{
    font-family: 'Rubik';
    color: $ColorTituloInterna;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1
  }
  .subHeader .Chamada {
    font-family: 'Rubik';
    color: #616161;
    font-weight: 400;
    font-size: 14px;
    color: #616161;
    margin: 0
  }
  .item-md.item-block .item-inner{
    border: 0!important;
    padding: 0;
    border-color: #fff!important;
    box-shadow: inherit!important
  }
  .nopaddingLeft{
    padding-left: 0!important
  }
  .bar-button-default-md{
    color: $colorButtons;
    margin: 0 -3% 0 -1.5%;
  }

  .MenuScroll .scroll-content {
    margin-bottom:  0!important;
    margin-top: 185px!important;
  }

  .NoLogado{
    font-family: 'Rubik';
    font-weight: 500;
    margin: 0 0 10px;
    font-size: 17px;
    color: $colorPadrao;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.socialnav{
  width: 100%;
  margin: 13% 0 0;
}
.socialnav p {
  font-family: 'Rubik';
  text-transform: uppercase;
  font-size: 0.8em;

  color: #00417f;
  font-weight: 500;  
}
.socialnav ul {
  width: 52%;
  padding: 0;
  margin: 4% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.socialnav ul li{
  list-style: none;
  margin: 0 3% 0 -10%;
  width: 20%;
}
.socialnav ul li ion-icon {
  color: #572c95;
  font-size: 1em;
}
.socialnav ul li img{
  width: 100%;
}
.label-md{
  font-size: 0.9em;
  margin: 0 0px 0 0
}
.buscaLoja {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;
  top: 60px;
}.form-busca {
     // background-color: rgba(255, 31, 119, 0.71);
     width: 93%;
     padding: 5% 2% 3%;
     margin: 2% auto;
     position: relative;
     border-radius: 6px;
     top: 0;
     transition: 0.8ms;
}
.form input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #222222;
}
.form-busca input[type=text] {
  width: 100%;
  font-family: 'Rubik';
  color: #222222;
  background: transparent !important;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 1em;
  font-weight: 500;
  padding: 3.5% 0 6%;
  margin-bottom: 5%;
}.form-busca button {
  font-family: 'Rubik';
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  padding: 4%;
  text-align: center;
  position: absolute;
  // background: url(../assets/icon/iconsearchFiltro.png) no-repeat right center;
  background: transparent;
  color:  #073f7a;
  background-size: contain;
  top: 18%;
  right: -1%;
}.form-busca:after {
  clear: both;
  display: block;
  content: '';
}
.semConexao{
  line-height: 1.2;
  font-size: 16px;
  margin: 5% auto;
  width: 90%;
  text-align: center;
  font-family: 'Rubik';
  font-weight: 400;
}
.buttonIrparalogin {
  width: 100%;
  text-transform: uppercase;
  height: 51px;
  background: $colorButtons;
  border-radius: 5px;
  margin-bottom: 5%;
  font-family: 'Rubik';
  font-size: 15px;
  color: #fff;
  text-align: center;
}
.back-button.show-back-button{
  margin: 0 -3% 0 0%;
}.has-refresher > .scroll-content
{
  border: 0
}
.icons {
      width: 100%;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 4% 0 0;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      position: relative;
      flex-direction: row;
  }.icons button {
      background: transparent;
      border: 0;
      box-shadow: inherit;
      overflow: inherit;
      padding: 0;
      width: 100%;
      min-height: 100%;
      height: inherit;
  }
.icons button img{
      width: 100%;
  }.HeaderMenu{
    height: 190px;
    padding: 0 2%
  }.alignCenter{
    width: 93%;        
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    
  }

.IconeBusca {
  position: relative;
  width: 9%;
  float: right;
  margin-right: 3%;
}
.alertCustomCss{
  color: $colorPadrao;
  .alert-wrapper{
    contain: none !important;
    min-width: 312px;
    padding: 9% 3%;
  }.alert-head{
    text-align: center
  }
  h2{
    font-family: 'Rubik';
    font-weight: 500
  }
  h3{
    color: #000;
    font-family: 'Rubik';
    font-weight: 400
  }
  img{
    position: absolute;
    width: 25%;
    top: -18%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  button{
    color: #fff!important;
    background-color: #0d3d75!important;
    padding: 10px 29px!important;
    width: 100%;
      .alert-button {
        width: 100%;
        
    }span{
      justify-content: center!important;
      }  
  }
}


.alertCustomCssError{
  color: $colorPadrao;
  .alert-wrapper{
    contain: none!important;
    min-width: 325px;
  padding: 12% 3% 5%;
  }.alert-head{
    text-align: center;
    padding: 11px 24px
  }
  h2{
    font-family: 'Rubik';
    font-weight: 500
  }
  h3{
    color: #000;
    font-family: 'Rubik';
    font-weight: 400
  }
  img{
    position: absolute;
    width: 25%;
    top: -18%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  button{
    color: #fff!important;
    background-color: #82131d!important;
    padding: 10px 29px!important;
    width: 100%;
      .alert-button {
        width: 100%;
        
    }span{
      justify-content: center!important;
      }  
  }
}

.ItFotter{
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  text-overflow: inherit;
  text-align: center;
  padding: 0!important;
  overflow: inherit!important;
}
.ItFotter p {
  font-size: 10px;
  text-transform: uppercase;
  color: #363636!important;
  font-family: 'Rubik';
  margin: 0 0 0
}
.ItFotter img {
  width: 55%;
}
.ItFotter .item-inner{
  padding: 0!important;
  overflow: inherit
}
.ItFotter:nth-child(5){
  width: 24%
}
.ItFotter img.last{
  width: 45%;
}
.ItFotter img.first{
  width: 53%;
}
.ClassAcontece{
  color: $colorButtons;
}
// .ItFotter .


//
// SuperTabs styles
//

super-tabs {
  
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
  
    > div.container {
  
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      z-index: 1;
  
  
      > div.inner-container {
  
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        box-sizing: content-box;
  
      }
  
  
    }
  
    &:not([no-shadow]) {
  
      &.tabs-placement-bottom {
        > super-tabs-toolbar > ion-toolbar.toolbar::before {
          top: -2px;
          bottom: auto;
          height: 2px;
          background-position: 0 0;
          content: '';
        }
      }
  
      > super-tabs-toolbar > ion-toolbar.toolbar {
        &::after, &::before {
          position: absolute;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
          background-repeat: repeat-x;
          width: 100%;
          left: 0;
        }
        &::after {
          content: '';
          height: 5px;
          background-position: 0 -2px;
          bottom: -5px;
        }
        contain: inherit;
        display: block;
        overflow: visible;
      }
  
    }
  
  }
  
  super-tabs.tabs-placement-bottom {
  
    flex-direction: column-reverse;
  
    > super-tabs-toolbar > ion-toolbar.toolbar {
  
      padding: 0;
  
      .tab-buttons-container {
        .indicator {
          top: 0;
          bottom: auto;
        }
  
        ion-segment.segment.segment-md {
          padding-top: 4px;
        }
      }
  
      &.scroll-tabs .tab-buttons-container .indicator {
        margin-top: 0;
        margin-bottom: -2px;
      }
  
    }
  
  }
  
  ion-tabs super-tabs ion-content {
    .scroll-content, .fixed-content {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  
  
  
  
  
  //
  // SuperTab styles
  //
  
  super-tab {
  
    height: 100%;
  
    box-sizing: border-box;
    display: block;
  
    overflow: hidden;
    z-index: 1;
  
    flex-shrink: 0;
    position: relative;
  
  }
  
  
  
  
  
  //
  // SuperTabsContainer styles
  //
  
  super-tabs-container {
  
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    z-index: 1;
  
    > div {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      box-sizing: content-box;
      touch-action: pan-y;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
  
  }
  
  
  
  
  
  //
  // SuperTabsToolbar styles
  //
  
  super-tabs-toolbar {
  
    z-index: 2;
    width: 100%;
    display: block;
    height: 58px;
  
    > ion-toolbar.toolbar {
  
      padding: 0;
      min-height: 0;
  
      .tab-buttons-container {
        touch-action: pan-y;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        overflow: hidden;
  
        .tab-buttons {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          width: 100%;
  
          super-tab-button {
  
            &:not(.selected) {
              ion-icon, span:not(.badge) {
                opacity: 0.7;
                border-bottom: 4px solid #e6e4e9;
              }
            }
  
            text-align: center;
  
            flex: 1;
            width: 0;
            height: 52px;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
  
            margin-left: 0;
            margin-right: 0;
  
            position: relative;
            display: block;
            overflow: hidden;
  
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
  
            align-items: flex-end;
            align-content: flex-end;
  
            padding: 0 12px;
  
            &.title-only {
              .title {
                line-height: 48px;
              }
            }
  
            &.icon-only {
              ion-icon {
                line-height: 48px;
              }
            }
  
            &.title-and-icon {
              height: 72px;
              padding-top: 8px;
              ion-icon {
                margin-bottom: 10px;
              }
            }
  
            ion-icon {
              font-size: 24px;
            }
  
            .title {
              vertical-align: middle;
              display: block;              
              padding: 0 3px;
              border-bottom: 4px solid #fec403;
              height: 52px;
            }
  
            .badge {
              position: absolute;
              top: 0;
              right: 4px;
            }
  
          }
  
        }
  
        .indicator {
          bottom: 0;
          position: absolute;
          z-index: 2;
          height: 2px;
          width: 100px;
          transform: scaleX(0);
          transform-origin: 0;
          display: none
        }
  
      }
  
      &.scroll-tabs {
        .tab-buttons-container {
          //padding-left: 60px;
  
          .tab-buttons {
            position: relative;
            justify-content: space-around;
            super-tab-button {
              min-width: 50px;
              max-width: 100%;
              width: auto;
              display: contents;
              overflow: visible;
  
            }
          }
  
          .indicator {
            position: relative;
            margin-top: -2px;
          }
  
        }
      }
  
    }
  
  }
  @media(max-width:325px){
    .Tit{
      font-size: 15px!important;
    }
    .Chamada{
      font-size: 13px!important;
    }
    }
    @media screen and (max-height:490px){
      .swiper-pagination-bullets{
        bottom: 12%!important;
      }
      page-tutorial .contentprehome .slider-slide img{
        margin: 5% auto!important;
      }
    }