<ion-menu [content]="content">
    <ion-header class="HeaderMenu">
        <ion-toolbar>
          <div class="AreaNaoCadastrou" *ngIf="!Logado">
            <p class="title">
              Ainda não se cadastrou?
            </p>
            <p class="descr">{{ frasemenu }}</p>
             <div class="butentroucadastre"  (click)="pushPage(LoginPage)" menuClose >ENTRE OU CADASTRE-SE</div>
             
             
          </div>
          
          <div class="AreaLogado" *ngIf="Logado==true">
            <div class="headerBox" menuClose (click)="pushPage(MeuperfilPage)">
                <div class="BoxPhoto" *ngIf="ModeFace" [ngStyle]="{'background-image': 'url(https://graph.facebook.com/' + Usuario.fbUsuario + '/' + 'picture?type=large' + ')'}">
                  </div>
                  <div class="BoxPhoto" *ngIf="ModeFace2" style="background: url('assets/perfil.png')"> </div>
                  <div class="BoxPhoto" [hidden]="ModoFace3" [ngStyle]="{'background-image': 'url(' + FotoApp + '' + '' + ')'}">
                   </div>

              <div class="BoxName">
                <p class="Name" >{{ Usuario.nomeUsuario }}</p>
                <p class="Email"> {{ Usuario.emailUsuario}} </p>
              </div>
            </div>
            
              <div class="AreaNotificacoes" menuClose (click)="setPage(NotificacoesPage)">
                <img src="assets/icon-sino.png" alt="">
                <div class="QuantosNottem">
                  <p class="tit1">Você possui:</p>
                  <p class="numbernotifications">{{numeroMsgs}} novas notificações</p>
                </div>
            </div>
          </div>
        </ion-toolbar>
    </ion-header>
    <ion-content class="MenuScroll">
        <ion-list>
            <button ion-item menuClose (click)="setPage(HomePage)">
              Home
            </button>
            <button ion-item menuClose (click)="setPage(AcontecePage)">
              Acontece
            </button>
            <button ion-item menuClose (click)="setPage(FavoritosPage)">
              Favoritos
            </button>
            <button ion-item menuClose (click)="setPage(OfertasPage)">
              Ofertas
            </button>
            <button ion-item menuClose (click)="setPage(ServicosPage)">
              Serviços
            </button>
            <button ion-item menuClose (click)="setPage(ListShoppingPage)">
              O Shopping
            </button>
            <button ion-item *ngIf="Logado==true" (click)="Deslogar(LoginPage)" menuClose>
              Sair
            </button> 


            <div ion-item class="socialnav">
              <p>Siga-nos</p>
              <ul>
                <li (click)="CheckForApp('facebook')">
                  <img src="assets/icon/fb.png" alt="">
                </li>
                <li (click)="CheckForApp('instagram')">
                  <img src="assets/icon/instagram.png" alt="">
                </li>
                <li  (click)="CheckForApp('twitter')">
                  <img src="assets/icon/tw.png" alt="">
                </li>
                <li (click)="CheckForApp('topshopping')">
                  <img src="assets/blog.png" alt="">
                </li>
              </ul>
            </div>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-header class="IconeBusca" id="ion-header">
  <ion-navbar>
      <button ion-item class="buttonpesquisa" [hidden]="Filtro" (click)="onClick()">
      <img src="assets/search.png" id="NaoAparecer" alt="">     
      <img id="AparecerHome" src="assets/searchHome.png">
      </button>
      
     <button ion-item class="buttonpesquisa" *ngIf="Filtro" (click)="onClick()">
      <img  alt="" src="assets/closeSeachHome.png" id="AparecerHome">
      </button> 
  </ion-navbar>
</ion-header>
<div class="buscaLoja" *ngIf="Filtro">
  <div class="form-busca">
      <input type="text" name="name" [(ngModel)]="FieldBusca" placeholder="Palavra-chave">
      <!-- <button type="button" name="button" (click)="BuscarPesquisa()" class="">OK</button> -->

      <button class="btn-filter" (click)="BuscarPesquisa()">Buscar</button>
  </div>
</div>


<ion-nav id="nav" #content [root]="rootPage"></ion-nav>