<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton">
      <h1>serviços</h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="center">
    <div class="titulolazer clearfix">
      <div class="iconServico">
          <img src="{{Dominio}}/{{servico.midia.arquivos.lang_1.arquivo.url}}" alt=""></div>
      <h1 [innerHTML]="servico.nome.str.lang_1"></h1>

      <div class="icons">
        <button ion-button >
          <img src="assets/icon/iconLikeFilmes.png" (click)="likeVote(servico)" [hidden]="vota" alt="">
          <img src="assets/icon/iconLikeFilmes_ativ.png"  (click)="likeVote(servico)" *ngIf="vota" alt="">
        </button>
        <button ion-button  (click)="Compartilhar()">
          <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
        </button>
        </div>
    </div>


    <p class="othersTextos" [hidden]="servico.telefones[0].valor==null">{{servico.telefones[0].nome.str.lang_1}} {{servico.telefones[0].valor}}</p>
    <!-- <p class="othersTextos" *ngIf="servico.lucs!=0">{{servico.lucs[0].piso.nome.str.lang_1}} </p> -->
    <p class="othersTextos" [innerHTML]="servico.descricao.str.lang_1"></p>

    <!-- <img class="FotoServico" *ngIf="servico.midia.arquivos.lang_1.arquivo_list!=''" src="{{Dominio}}/{{servico.midia.arquivos.lang_1.arquivo_list[0].url}}" alt=""> -->
  </div>
</ion-content>
<app-footer></app-footer>