page-servicosinterna {
    .logo-store {
        background-image: url(../assets/lojas/fundoImg.png);
        background-position: 100% center;
        background-size: 100%;
        margin-bottom: 5%;
    }

    .logo-store .logo {
        width: 40%;
        padding: 2%;
    }

    img {
        width: 100%;
    }

    .center {
        width: 93%!important;
        margin: 0 auto;
        padding-bottom: 10%;
    }
    .titulolazer {
        border-bottom: .08em solid #ccc;
        display: table;
        margin-bottom: 5%;    
        padding-bottom: 2%;
        width: 100%;
        margin-top: 5%;
    }.titulolazer h1 {
        font-family: 'Rubik';
        font-size: 18px;
        color: $colorTitleInternaServico;
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        position: relative;
        left: 1%;
    }.titulolazer img {
        width: 100%;
        display: table-cell;
        padding: 30% 0;
    }.clearfix:after, .promocoescomp:after {
        display: block;
        clear: both;
        content: '';
    }
    .TitleInfo{
        font-family: 'Rubik';
        font-weight: 600;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0 0 5%;
    }
    .othersTextos{
        font-family: 'Rubik';
        font-weight: 400;
        color: #000;
        font-size: 15px;
        margin: 0 0 0%;
        line-height: 1.4em;
    }
    .iconServico{
        background: $colorButtons;
        border-radius: 100%;
        text-align: center;
        width: 45px;
        height: 46px;
        margin: 0 0 0%;
        position: relative;
        top: -13px;
    }
    .iconServico img{
        padding: 0;
        -webkit-filter: contrast(160%); filter: contrast(160%);
    }.titulolazer .icons{
        width: 70%;
        margin: 0;
        float: right;
    }
    .FotoServico{
        margin: 3% 0
    }
}
