page-fiquepordentro {
 
    .HomeFique{
        width: 100%;
        background: #ededed;
        margin-bottom: 5%;
        border-radius: 5px;
        display: block;
        position: relative;
        z-index: 100
    }
    .HomeFique .areaflexHomeFique{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        position: relative;
        z-index: 100;
        width: 100%;
    }
    .HomeFique .areaflexHomeFique .Areaimg{
        width: 40%;
        border-radius: 5px;
        min-width: 150px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }.HomeFique .areaflexHomeFique .Areaimg img{

        margin: 0px 0px 0 0%;
    }
    .HomeFique .areaflexHomeFique .Desc{
        padding: 4% 4% 0;
    overflow: hidden;
        width: 65%;
    }
    .HomeFique .areaflexHomeFique .Desc .Tit{
        font-family: 'Rubik';
        font-weight: 500;
        margin: 0 0 10px;
        font-size: 17px;
        color: $colorTitleInternaServico;
    }.HomeFique .areaflexHomeFique .Desc .txt{
        font-family: 'Rubik';
        font-weight: 400;
        color: #646464;
        margin: 0;
        font-size: 14px;
    }
    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }

}
