<ion-content class="BoxFiquePorDentro">

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div class="alignCenter">
    <div class="HomeFique" *ngFor="let nov of Novidades" (click)="IrParaInterna($event, nov)">
      <div class="areaflexHomeFique" *ngIf="nov!=undefined">
        <div class="Areaimg">
          <img src="{{Dominio}}/{{nov.midia.arquivos.lang_1.arquivo.url}}">
        </div>
        <div class="Desc">
          <p class="Tit" [innerHTML]="nov.nome.str.lang_1 | truncate : 50 : '...'"></p>
          <p class="txt">{{ nov.chamada.str.lang_1 | truncate : 50 : "..." }}</p>
        </div>
      </div>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>