page-tutorial {
    .scroll-content{
        margin: 0 0 0 0
    }
  
.contentprehome {
    width: 100%;
    height: 100%;
    background-image: url(../assets/bgTutorial2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999;
}.logoTutorial {
      width: 60%;
    margin: 5% auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}.contentprehome {
    width: 100%;
}.contentprehome .slider-slide h1 {
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-weight: 500;
    margin-top: 0%;
}.contentprehome .slider-slide img {
    width: 25%;
    display: block;
    margin: 10% auto;
}.contentprehome .slider-slide p {
    font-family: 'Rubik';
    font-weight: 400;
    color: #fff;
    text-align: center;
    width: 60%;
    font-size: 0.8em;
    margin: 0 auto;
}.buttonPrehome {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: 'Rubik';
    font-size: 1em;
    z-index: 10000;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 15%
}
.swiper-pagination-bullet-active{
    background: #fecc00!important;
}
.swiper-pagination-bullet{
    opacity: 1;
    background: #fff;
}
button.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
}
