<ion-content>
<img src="assets/logoTutorial2.png" class="logoTutorial" alt="">
<ion-slides class="contentprehome" pager>
  <ion-slide class="slider-slide">
      <h1>Olha quem<br>está de cara nova</h1><img src="assets/iconConteudo.png" >
      <h1>O APP do<br>TopShopping</h1>
      <p>Vem conferir!
          </p>
    </ion-slide>
  <!-- <ion-slide class="slider-slide">
    <h1>favoritos</h1><img src="assets/tutorial/icon-favorito.png" >
    <p>Gostou do que viu e leu? Adicione aos favoritos e acesse rapidamente depois.</p>
  </ion-slide>
  <ion-slide class="slider-slide">
    <h1>localização</h1><img src="assets/tutorial/icon-localizacao.png" >
    <p>Quer saber informações sobre horário de funcionamento e como chegar? Aqui você terá tudo isso e muito mais.</p>
  </ion-slide> -->
  
</ion-slides>
<h2 class="buttonPrehome" [navPush]="HomePage" (click)="irparaHome()">Entrar</h2>
</ion-content>