<ion-header class="BarHeader">
    <style>
        .barVitrine{
          background: #d9d9d9!important
        }
        .ColorBgLoja{
          background: #d9d9d9!important      
        }
        .HomeFique{
          background: #ededed!important;
        }
        </style>
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
          <img src="assets/icon/icoMenu.png" alt="">
        </button>
    <ion-title class="titleButton">
      <h1>alimentação</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ColorBgLoja" [class.filter]="filter">
  <div class="barVitrine bar-subheader noPadding">
    <div class="alignCenter flexcenter">
      <div class="subHeader">
        <p class="Title">Onde comer</p>
        <p class="Chamada">Conheça as diversas opções</p>
      </div>
      <div class="filtroInterno" (click)="AbrirFiltro()"></div>
    </div>
  </div>
  <section style="background:#ffffff">
    
  <div class="alignCenter" *ngIf="filter">
      <div class="setafiltro">
        <img src="assets/icon/set_filtro.png" alt="">
      </div>
    <div class="form">
      <button class="btn-filter" (click)="Filtrar($event)"></button>
      <input [(ngModel)]="BuscaVitrine"  placeholder="Digite o nome da loja..." type="text">
      <select [(ngModel)]="CategoriaBusca" (change)="Filtrar($event)">
          <option value="">Todos</option>
              <option *ngFor="let c of Segmentos" value="{{c.cod}}">{{c.nome.str.lang_1}}</option>
          </select>
    </div>
    <div class='letters'>
      <!-- <p>Busca por letra inicial</p> -->
      <div>
        <li *ngFor="let item of letras" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)">{{item}}</li>
      </div>
    </div>
  </div>

  </section>
  <div class="alignCenter">
    <div class="container-stores" [hidden]="filter" style="padding-top: 2%;">
      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
        <p>Carregando dados...</p>
      </div>
      <div class="stores">
        <div class="HomeFique" *ngFor="let g of gastronomia" (click)="IrParaInterna($event, g)">

          <div class="areaflexHomeFique" *ngIf="g!=undefined">
            <div class="Areaimg" >
              <img-loader useImg *ngIf="g.midia.arquivos.lang_1.arquivo.url!=''" src="{{g.midia.arquivos.lang_1.arquivo.url}}" ></img-loader>

              <img src="assets/sem-fotoGastronomia.png" *ngIf="g.midia.arquivos.lang_1.arquivo.url==''" alt="">
            </div>
            <div class="Desc">
              <p class="Tit">{{g.nome.str.lang_1}}</p>
              <!-- <p class="type">{{g.categorias[0].nome.str.lang_1}}</p>
              <p class="floor">{{g.lucs[0].piso.nome.str.lang_1}}</p> -->
              <p class="txt" *ngIf="g.categorias!=0">{{g.categorias[0].nome.str.lang_1}}</p>
              <p class="txt" *ngIf="g.lucs!=0">{{g.lucs[0].piso.nome.str.lang_1}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="semConexao" *ngIf="nadaEncontrado">
        <p>Nenhum item corresponde à sua procura.</p>
      </div>
    </div>

  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<app-footer></app-footer>