page-filmes {
    .HomeFique{
        width: 100%;
        margin-bottom: 5%;
        display: block;
        position: relative;
        z-index: 100
    }
    .HomeFique .areaflexHomeFique{
        display: flex;
        flex-direction: row;        
        border-radius: 5px;
        background: #ededed;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 100;
        width: 100%;
    }
    .HomeFique .areaflexHomeFique .Areaimg{
        width: 40%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        min-width: 150px;
        overflow: hidden;
        align-items: center;
    }
    
    .HomeFique .areaflexHomeFique .Areaimg img-loader{
        display: flex;
        align-items: flex-start;
    }
    .HomeFique .areaflexHomeFique .Areaimg img{

    }
    .HomeFique .areaflexHomeFique .Desc{
        padding: 4%;
    overflow: hidden;
        width: 65%;
    }
    .HomeFique .areaflexHomeFique .Desc .Tit{
        font-family: 'Rubik';
        font-weight: 500;
        margin: 0 0 20%;
        font-size: 17px;
        color: $colorTitleInternaServico;
    }.HomeFique .areaflexHomeFique .Desc .txt{
        font-family: 'Rubik';
        font-weight: 400;
        color: #333333;
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
    }.HomeFique .areaflexHomeFique .Desc .legendado{
        font-family: 'Rubik';
        font-weight: bold;
        color: #fec403;
        margin: 23% 0 0;
        font-size: 16px;
        text-transform: uppercase;
    }
    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }

   .ItFotter.AtivaCinema p{
    color: #363636 !important;
    font-weight: bold;
    

}
#Cinema{
    display: none;
}
#CinemaActive{
    display: inline-block
}  .iconeimg{
    width: 35%;
    margin: 15% 0 3%;
}
.AindaNaoFavorito{
    font-family: 'Rubik';
    color: $ColorTituloInterna;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1
}
}
