<!-- <ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
          <img src="assets/icon/icoMenu.png" alt="">
        </button>
    <ion-title class="titleButton">
      <h1>filmes</h1>
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>

  <div class="alignCenter">
    <div class="subHeader">
      <p class="Title">Programação</p>
      <p class="Chamada">Filmes em cartaz neste momento</p>
    </div>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
        <p>Carregando dados...</p>
      </div>
    <div class="HomeFique"  [hidden]="filmes==undefined" *ngFor="let f of filmes" (click)="IrParaInterna($event, f)">
      <div class="areaflexHomeFique" *ngIf="f!=undefined">
        <div class="Areaimg">
          <img-loader useImg src="{{f.midia.arquivos.lang_1.arquivo.url}}" alt="" style="width: 100%;" ></img-loader>
        </div>
        <div class="Desc">
          <p class="Tit" [innerHTML]="f.nome.str.lang_1"></p>
          <p class="txt">{{ f.genero.str.lang_1 }} / {{f.tempo}} min</p>
          <p class="txt">{{ f.censura.str.lang_1 }} Anos</p>
          <p class="legendado" *ngIf="f.tipo=='DUB'">Dublado {{f.tecnologia}}</p>
          <p class="legendado" *ngIf="f.tipo=='LEG'">Legendado {{f.tecnologia}}</p>
          <p class="legendado" *ngIf="f.tipo=='DUB e LEG'">DUB e LEG {{f.tecnologia}}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="semConexao" *ngIf="(filmes)==''||filmes==''">
    <img src="assets/iconSmile.png" class="iconeimg" alt="">
      <p class="AindaNaoFavorito">Aguarde! </p>
      <p>Em breve você poderá conferir a nova programação.</p>
   </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<!-- <app-footer></app-footer> -->