<ion-footer class="footerBarra footerrodape">
  <button ion-item class="ItFotter ativaAcontece" (click)="setPage(AcontecePage)">
    <img src="assets/icon/1.png" id="Acontece" class="first">
    <img src="assets/icon/1_active.png" id="AconteceActive" class="first">
    <p> Acontece </p>
  </button>
  <button ion-item class="ItFotter AtivaCinema" (click)="setPage(ListFilmesPage)" >
    <img src="assets/icon/2.png" id="Cinema">
    <img src="assets/icon/2_active.png" id="CinemaActive" alt="">
    <p> Cinema </p>
  </button>
  <button ion-item class="ItFotter AtivaLazer" (click)="setPage(LazerPage)" >
    <img src="assets/icon/3.png" id="Lazer" >
    <img src="assets/icon/3_active.png" id="LazerActive"  alt="">
    <p> lazer </p>
  </button>
  <button ion-item class="ItFotter AtivaLojas" (click)="setPage(LojasPage)" >
    <img src="assets/icon/4.png" id="Lojas">
    <img src="assets/icon/4_active.png" id="LojasActive" alt="">
    <p> lojas </p>
  </button>
  <button ion-item class="ItFotter AtivaGastro" (click)="setPage(GastronomiaPage)">
    <img src="assets/icon/5.png" class="last" id="Gastronomia">
    <img src="assets/icon/5_active.png"  id="GastronomiaActive" class="last">
    <p> alimentação </p>
  </button>
</ion-footer>