page-vitrine-interna {

    .vitricenter{
        width: 95%;
        margin: 0 auto;
    }
    .titulo-vitrine {
        display: table;
        margin-bottom: 3%;
        margin-top: 3%;
    }.titulo-vitrine h1 {
        font-size: 18px;
        color: $ColorTituloInterna;
        font-family: 'Rubik';
        width: 78%;
        display: table-cell;
        // line-height: 0.3em;
        padding: 15px 0 0;
        vertical-align: middle;
    }
    .titulo-vitrine h1 .nomeloja {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 15px;
        padding-top: 3px;
    }.image-vitrine img{
        // border: .2em solid #ccc;
    }

    img {
        width: 100%;
    }
    .descricao-vitrine {
        margin: 5% 0;
    }

    .descricao-vitrine {
        margin: 5% 0;
    }.fontinformation.bold {
    font-family: 'Rubik';
    font-size: 1.2em;
}
.descricao-vitrine p {
    font-size: 15px;
    font-family: 'Rubik';
    margin-bottom: 2%;
    color: #333;
}
.descricao-vitrine p strong{
    font-size: 20px;
    color: $colorButtons;
}
 .titulo-vitrine img {
    width: 100%;
    display: table-cell;
    padding: 7% 0;
}
}