
<ion-header class="BarHeader">
    <ion-navbar class="Nobackground">
      <ion-title class="titleButton"> 
        <h1>produto</h1>
        
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <div class="alignCenter">
    
  <div class="titulo-vitrine clearfix">
    <h1>{{ firstParam.nome.str.lang_1 }}</h1>
    
    <div class="icons">

      <button ion-button >
        <img src="assets/icon/iconLikeFilmes.png" (click)="likeVote(firstParam)" [hidden]="vota" alt="">
        <img src="assets/icon/iconLikeFilmes_ativ.png"  (click)="likeVote(firstParam)" *ngIf="vota" alt="">
      </button>
      <button  ion-button (click)="Compartilhar()">
      <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
    </button>
    </div>
  </div>
  <div class="image-vitrine">
      <img src="{{Dominio}}/{{firstParam.midia.arquivos.lang_1.arquivo.url}}" />
  </div>

  

  <div class="descricao-vitrine">
      <p [innerHTML]="firstParam.descricao.str.lang_1"></p>
  </div>
</div>
</ion-content>

<app-footer></app-footer>