<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
        <img src="assets/icon/icoMenu.png" alt="">
      </button>
    <ion-title class="titleButton">
        <h1>O Shopping</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <super-tabs #SuperTabs id="mainTabs" scrollTabs="true" (tabSelect)="onTabSelect($event)" [config]="{ sideMenu: 'left' }">
    
    <super-tab  [root]="OshoppingPage" title="O Shopping" id="sobre"></super-tab>
    <super-tab [root]="ContatoPage" title="contato" id="contato"></super-tab>
    <super-tab [root]="HorariosPage" title="horários" id="horarios"></super-tab>
    <super-tab [root]="ComochegarPage" title="como chegar" id="comochegar"></super-tab>
    <!-- <super-tab [root]="HorariosPage" title="horários" id="horarios"></super-tab>
    <super-tab [root]="ComochegarPage" title="como chegar" id="comochegar"></super-tab> -->
  </super-tabs>
  
</ion-content>

<app-footer></app-footer>