page-list-shopping {
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons{
        background: #e6e4e9;
        padding: 6px 0 0;
        height: 58px;
        align-items: flex-end;

    }
    super-tabs-toolbar{
        background: #e6e4e9;  
    }
    .tab-buttons-container {
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            // width: 80px;
            height: 100%;
           
        }
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button{
        font-family: 'Rubik';
        font-size: 13px;
        color: $colorButtons;
        border-bottom-color: transparent;
        text-overflow: inherit;
        border-bottom-width: 4px;
        // padding: 0
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .indicator{
        background-color: #fec403;
        height: 4px;
    }

    //super-tabs-toolbar > ion-toolbar.toolbar.scroll-tabs .tab-buttons-container .tab-buttons super-tab-button:nth-child(2){
    //    padding-left: 7%;
    //}
    // super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:nth-child(2){
    //     padding: 0 7px 0 0
    // } 
}
