<ion-content class="BoxFiquePorDentro">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="alignCenter">
    <div *ngFor="let c of ListaCupons">
      <div class="HomeFique" *ngIf="c!=undefined" (click)="IrParaInterna($event, c)">
        <div class="areaflexHomeFique">
          <div class="Areaimg">
            <img src="{{c.Imagem}}">
          </div>
          <div class="Desc">
            <p class="Tit" [innerHTML]="c.Titulo"></p>
            <p class="txt">{{ c.Descricao | truncate : 50 : "..." }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alignCenter" *ngIf="ListaCupons==undefined">
    <p class="semConexao">Você precisa estar logado para acessar essa área.</p>
    <button class="buttonIrparalogin" (click)="irParaLogin()">
      Ir para Login
    </button>
  </div>
  <div class="semConexao" *ngIf="ListaCupons!=undefined && (ListaCupons)==''||ListaCupons==''">

    <img src="assets/iconSmile.png" class="iconeimg" alt="">
    <p class="AindaNaoFavorito">Aguarde! </p>
    <p>Não existem cupons disponíveis no momento.</p>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>