page-cupons {
    .HomeFique{
        width: 100%;
        // display: flex;
        // flex-direction: 
        // justify-content: flex-start;
        // align-items: flex-start;
        background: #ededed;
        margin-bottom: 5%;
        display: block;
        position: relative;
        border-radius: 5px;
        max-height: 150px;
        overflow: hidden;
        z-index: 100
    }
    .HomeFique .areaflexHomeFique{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 100;
        width: 100%;
    }
    .HomeFique .areaflexHomeFique .Areaimg{
        width: 40%;
        height: 100%;
        border-radius: 5px;
        min-width: 150px;
        overflow: hidden;
    }.HomeFique .areaflexHomeFique .Areaimg img{

    }
    .HomeFique .areaflexHomeFique .Desc{
        padding: 4%;
        overflow: hidden;
        width: 65%;
        height: 150px;
    }
    .HomeFique .areaflexHomeFique .Desc .Tit{
        font-family: 'Rubik';
        font-weight: 500;
        margin: 0 0 10px;
        font-size: 17px;
        color: $colorTitleInternaServico;
        margin: 0;
    }.HomeFique .areaflexHomeFique .Desc .txt{
        font-family: 'Rubik';
        font-weight: 400;
        color: #646464;
        margin: 0;
        font-size: 14px;
    }
    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .iconeimg{
        width: 35%;
        margin: 15% 0 3%;
    }
}
