page-notificacoes-interna {
    .Naotem{
        opacity: 0;
    }
    .InternPadrao {
        font-family: 'Rubik';
    }
    .InternPadrao p {
        font-weight: 400;
        font-size: 15px;
        color: #333333;
        line-height: 1.2em;
    }
    .InternPadrao .title{
        font-weight: 500;
        color: $ColorTituloInterna;
        font-size: 18px;
        line-height: 1.2em;
    } .InternPadrao .data{
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        color: $colorPadrao;
    }
    .InternPadrao img{
        width: 100%;
        // margin-top: 5%;
    } .titulolazer img {
        width: 95%;
        display: table-cell;
        padding: 30% 0;
    }
    .titulolazer {
        display: table;
        margin-bottom: 5%;
    }.titulolazer h1 {
        font-size: 18px;
        color: $ColorTituloInterna;
        font-family: 'Rubik';
        width: 100%;
        display: table-cell;
        // line-height: 0.3em;
        padding: 5px 0 0;
        vertical-align: middle;
    }
    .buttonIrParaInterna{
      width: 100%;
      height: 51px;
      background: $colorButtons;
      border-radius: 5px; 
      margin-bottom: 5%;
      font-family: 'Rubik';
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
    }
}
