
<ion-header class="BarHeader">
    <ion-navbar class="Nobackground">
      <ion-title class="titleButton"> 
        <h1>Notificação</h1>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content >
  <div class="InternPadrao">
      <img src="{{Msg.Imagem}}" alt="">
    <div class="alignCenter">
      
      <div class="titulolazer clearfix">
          <h1> {{Msg.Titulo}} </h1>
          <div class="icons">
            <!-- <button class="Naotem">
              <img src="assets/icon/iconLikeFilmes.png" (click)="likeVote(novidade)" [hidden]="vota" alt="">
              <img src="assets/icon/iconLikeFilmes_ativ.png"  (click)="likeVote(novidade)" *ngIf="vota" alt="">
            </button>
            <button (click)="Compartilhar()" ion-buttom>
              <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
            </button> -->
          </div>  
        </div>
        <p [innerHTML]="Msg.Texto">
        </p>
        <button ion-item class="buttonIrParaInterna" (click)="openDetails(Msg.CodConteudo)"> Ir Para {{Msg.DescricaoConteudo}} </button>
    </div>
   
  </div>
  </ion-content>
  
<app-footer></app-footer>