<ion-content class="BoxFiquePorDentro">
  <div class="alignCenter" *ngIf="page1?.length">
    <div class="image-shopping">
      <img src="{{Dominio}}/{{page1[1].midia.arquivos.lang_1.imagem.url}}" />
    </div>
    <div class="container">
      <div class="info-shopping">
        <div class="nome" [innerHTML]="page1[1].titulo.str.lang_1"></div>
        <div class="content-shopping clearfix">
          <div [innerHTML]="page1[1].link_texto" class="texto-shopping"></div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>