page-page1 {
    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
  
    .container{
        padding: 0 5px
    }
    .info-shopping {
        margin-top: 4%;
    }
    .info-shopping .nome {
        border-bottom: 2px solid #ccc;
        padding: 0 0 5%;
        text-transform: uppercase;
        font-size: 1.5em;
        font-family: 'Rubik';
        color: $ColorTituloInterna;
        font-weight: 500
    }
    .content-shopping {
        font-size: 1.1em;
        text-align: left;
        margin-top: 5%;
        font-family: 'Rubik';
        font-weight: 400;
        margin-bottom: 10%;
        line-height: 1.3em;
    }
}
