<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <button ion-button menuToggle class="buttonmenu">
        <img src="assets/icon/icoMenu.png" alt="">
      </button>
    <ion-title class="titleButton">
      <h1>acontece</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<super-tabs id="mainTabs" scrollTabs="true" selectedTabIndex="0"  [config]="{ sideMenu: 'left' }" (tabSelect)="onTabSelect($event)">
  <super-tab [root]="FiquepordentroPage" title="Fique por dentro" id="locationTab" style="" class="nopaddingmenu"></super-tab>
  <super-tab [root]="FeedPage" title="Social Feed"  id="homeTab" [hidden]="Feed==undefined"></super-tab>
  <super-tab [root]="EnquetesPage" id="Enquetes" [title]="showTitles? 'Enquetes' : ''" [rootParams]="{parent : tabParent}"></super-tab>
</super-tabs>
</ion-content>


<app-footer selector="page-acontece"></app-footer>