page-acontece {
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons{
        background: #e6e4e9;
        padding: 6px 0 0;
        height: 58px;
        width: 100%;        
        align-items: flex-end;

    }
    super-tabs-toolbar{
        background: #e6e4e9;
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button{
        font-family: 'Rubik';
        font-size: 13px;
        color: $colorButtons;
        border-bottom-color: transparent;
        text-overflow: inherit;
        border-bottom-width: 4px;
        padding: 0
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .indicator{
        background-color: #fec403;
        height: 4px;
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:nth-child(1){
        padding: 0px 5px
    }
    super-tabs-toolbar > ion-toolbar.toolbar.scroll-tabs .tab-buttons-container .tab-buttons super-tab-button:nth-child(2){
        padding: 0 5px
    }
    super-tabs-toolbar > ion-toolbar.toolbar.scroll-tabs .tab-buttons-container .tab-buttons super-tab-button:nth-child(3){
        padding: 0 5px
    }
    super-tabs-toolbar > ion-toolbar.toolbar.scroll-tabs .tab-buttons-container .tab-buttons super-tab-button:nth-child(2){
        // padding-left: 10% !important;
        // padding-right: 0!important;
    }

    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

   .alignCenter{
       margin: 0% auto 69px;
   }

   .ItFotter.ativaAcontece p{
    color: #393938 !important;
    font-weight: bold;
   }
   #Acontece{
       display: none;
   }
   #AconteceActive{
       display: inline-block
   }
}
