<ion-content class="BoxFiquePorDentro">
  <div class="alignCenter">
    <div class="areapesquisa">
        <div class="boxContatoEndereco" [hidden]="Sucesso">
            <div class="icon-info">
                <img src="assets/faleconosco/iconAddress.png" alt="" />
            </div>
            <div class="descr_info">
                <p>ENDEREÇO</p>
                <address [innerHTML]="endereco"></address>
            </div>
        </div>
      <input type="text" class="input" placeholder="Origem" (click)="tracarRota()">
      <div class="buttonenviar" (click)="tracarRota()">Traçar Rota</div>
    </div>
    <!-- <div id="map"></div> -->
  </div>
    <img src="assets/imgMapa.png" alt="">
  </ion-content>