page-comochegar {
    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .areapesquisa{
        width: 100%;
        
    } .input{
        background: #f3f3f3;
        padding: 3% 2%;
        height: 40px;
        font-family: 'Rubik';
        width: 100%;
        font-weight: 400;
        display: none;
        font-size: 18px;
        color: #222222;
        border: 0;
        margin-bottom: 3%;
    }
.input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #222222;
      }
   .input ::-moz-placeholder { /* Firefox 19+ */
        color: #222222;
      }
  .input :-ms-input-placeholder { /* IE 10+ */
        color: #222222;
      }
.input :-moz-placeholder { /* Firefox 18- */
        color: #222222;
      }
      .buttonenviar{
          width: 100%;
          border: 0;
          height: 40px;
          padding: 0;
          margin-bottom: 7%;
          justify-content: center;
          background: $colorButtons;
          color: #fff;
          font-family: 'Rubik';
          font-size: 18px;
          text-align: center;
          display: flex;
          align-items: center;

      }
      .boxContatoEndereco p {
        margin-top: 0%;
        margin-bottom: 5%;
        clear: both;
        // font-family: Cabin-SemiBold;
        font-weight: 500;
        font-size: 16px;
        color: #00417f;
    }.icon-info {
        width: 10%;
        height: 4em;
        float: left;
    }.descr_info {
        float: left;
        margin-left: 6%;
        width: 82%;
    }
    .boxContatoEndereco {
        font-family: 'Rubik';
        margin-top: 5%;
        margin-bottom: 7%;
    }
    .boxContatoEndereco:after{
        clear: both;
        display: block;
        content: '';
    }
     address {
        font-family: 'Rubik';
        font-weight: 400;
        color: #333;
        font-style: normal;
        font-size: 15px;
        margin: -13px 0 0;
    
}

}