<ion-header class="BarHeader">
  <ion-navbar class="Nobackground">
    <ion-title class="titleButton"> 
      <h1>lazer</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="scrolllazer">
  <div class="alignCenter">
    
  <div class="InternPadrao" >
      <div class="titulo-vitrine clearfix">
          <h1>{{ firstParam.nome.str.lang_1 }}</h1>
          
          <div class="icons">
      
              
            <button ion-button >
              <img src="assets/icon/iconLikeFilmes.png" (click)="likeVote(firstParam)" [hidden]="vota" alt="">
              <img src="assets/icon/iconLikeFilmes_ativ.png"  (click)="likeVote(firstParam)" *ngIf="vota" alt="">
            </button>
            <button ion-button  (click)="Compartilhar()">
            <img src="assets/icon/icoCompartilhar.png" alt="" class="buttoncompartilharimg">
          </button>
          </div>
        </div>
        <!-- <img [hidden]="firstParam.midia.arquivos.lang_1.arquivo.mine_type=='unknown/unknown'" src="{{firstParam.midia.arquivos.lang_1.arquivo.url}}">
        <img *ngIf="firstParam.midia.arquivos.lang_1.arquivo.mine_type=='unknown/unknown'" src="{{firstParam.midia.arquivos.lang_1.arquivo_list[0].url}}"> -->
        <img [hidden]="firstParam.midia.arquivos.lang_1.arquivo_list.length!=0" src="{{firstParam.midia.arquivos.lang_1.arquivo.url}}">
        <img *ngIf="firstParam.midia.arquivos.lang_1.arquivo_list.length!=0" src="{{firstParam.midia.arquivos.lang_1.arquivo_list[0].url}}">
    <p [innerHTML]="firstParam.descricao.str.lang_1"></p>
    
    </div>
  </div>
</ion-content>

<app-footer></app-footer>