page-lazer-interna {
    .InternPadrao 
    {
        font-family: 'Rubik';
    }
    .InternPadrao p 
    {
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        line-height: 1.2em;
        margin: 1% 0 0;
    }
    .InternPadrao .title
    {
        font-weight: 500;
        color: #333333;
        font-size: 19px;
        margin: 2% 0 2px;;
        line-height: 1.2em;
    } 
    .InternPadrao .data
    {
        margin: 0 0 4%;
        font-size: 17px;
        font-weight: 400;
        color: #6b6b6b;
    }
    .InternPadrao img
    {
        width: 100%;
        margin-bottom: 5%;
    }

    .buttoncompartilhar {
        width: 53%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 3% 0;
        overflow: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        background: transparent;
        height: 84px;
    }
    .buttoncompartilharimg{
        width: 30%;
        margin-right: 5%
    }
    .buttoncompartilhar p{
        font-family: 'Rubik';
        color: #806b9e;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
    } .titulo-vitrine {
        display: table;
        margin-bottom: 0%;
        margin-top: 0%;
    }.titulo-vitrine h1 {
        font-size: 18px;
        color: $ColorTituloInterna;
        font-family: 'Rubik';
        width: 78%;
        display: table-cell;
        line-height: 0.3em;
        padding: 5px 0 0;
        vertical-align: middle;
    }
    .titulo-vitrine img {
       width: 95%;
       display: table-cell;
       padding: 30% 0;
   }
   .scroll-content {
    margin-bottom: 60px;
    padding-bottom: 30px;
}
.ItFotter.AtivaLazer p{
    color: #363636 !important;
    font-weight: bold;
}
#Lazer{
    display: none;
}
#LazerActive{
    display: inline-block
}
}
