page-horarios {
    .BoxFiquePorDentro .scroll-content{
        padding-top: 5px;
        margin-bottom: 0;
        margin-top: 0;
    }
 
    .container{
        // padding: 0 5px
    }
    .info-shopping {
        margin-top: 4%;
    }
    .info-shopping .nome {
        border-bottom: 2px solid #ccc;
        padding: 0 0 5%;
        font-size: 18px;
        font-family: 'Rubik';
        color: $ColorTituloInterna;
        font-weight: 500
    }
    .content-shopping {
        font-size: 16px;
        text-align: left;
        margin-top: 5%;
        font-family: 'Rubik';
        font-weight: 400;
        margin-bottom: 10%;
        line-height: 1.3em;
    }
}
