<ion-content class="BoxFiquePorDentro">
  <div class="alignCenter">
  <div class="container">
    <div class="info-shopping" >
        <div class="nome">Segunda a Sábado</div>
    <div class="content-shopping clearfix">
        <div  class="texto-shopping">
          <p>Lojas: 10h às 22h<br>
              Alimentação e Lazer: 10h às 22h</p>
        </div>
    </div>
  </div>
  <div class="info-shopping" >
      <div class="nome">Feriados</div>
  <div class="content-shopping clearfix">
      <div  class="texto-shopping">
        <p>Lojas: 13h às 21h (opcional)<br>
            Alimentação e Lazer: 12h às 22h</p>
      </div>
  </div>
</div>
<div class="info-shopping" >
    <div class="nome">Domingos</div>
<div class="content-shopping clearfix">
    <div  class="texto-shopping">
      <p>Lojas: 13h às 21h<br>
          Alimentação e Lazer: 12h às 22h</p>
    </div>
</div>
</div>
</div>
</div>
</ion-content>
