page-ofertas {


    .BoxFiquePorDentro .scroll-content{
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons{
        background: #e6e4e9;
        padding: 6px 10px 0;
        height: 58px;
        align-items: flex-end;
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button{
        font-family: 'Rubik';
        font-size: 13px;
        color: $colorButtons;
        border-bottom-color: transparent;
        text-overflow: inherit;
        border-bottom-width: 4px;
        padding: 0
    }
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .indicator{
        background-color: #fec403;
        height: 4px;
    }
    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

   .alignCenter{
   }



}
